.banner {
    margin-bottom: 3.125rem;
    .banner-inner {
        position: relative;
        .banner-item {
            position: relative;
            a{
                outline: 0;
                text-decoration: none;
                .banner-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                }
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 0;
            left: auto;
            right:20px;
        }
    }
}

.brands-section {
    margin-bottom: 3.125rem;
    h4 {
        text-align: center;
        margin-bottom: 0;
        color: theme-color('dark');
    }
}

.best-seller-category-section, .accessories-section {
    text-align: center;
    margin-bottom: 3.125rem;
    .category-wrapper {
        margin-bottom: 20px;
        .category-image {
            margin-bottom: 15px;
            position: relative;
            .new-badge {
                position: absolute;
                top: 0;
                left: 10px;
                display: block;
                border: 1px solid theme-color('dark');
                background: #fff;
                padding: 5px 15px;
                font-size: 0.625rem;
            }
        }
        .category-title {
            margin-bottom: 5px;
            a {
                text-transform: uppercase;
                color: theme-color('dark');
                text-decoration: none;
                outline: 0;
                font-weight: 700;
            }
        }
        .category-product-count {
            a {
                text-decoration: none;
                outline: 0;
                font-size: 0.875rem;
            }
        }
    }

    .category-slider {
        .slick-list{
            @include media-max(sm) {
                padding-left: 0!important;
            }
        }
        button.slick-prev {
            @include media-min(md) {
                left: -45px;
            }
        }
        button.slick-next {
            @include media-min(md) {
                right: -45px;
            }
        }
        .category-wrapper {
            img{
                padding: 0 10px;
            }
        }
        @include media-min(md) {
            margin: 0 -12px;
        }
    }
}

.visit-store-section {
    margin-bottom: 3.125rem;
    a{
        color: #fff;
        text-decoration: none;
    }
    .store-img {
        
        img {
            @include media-min(sm) {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                font-family: 'object-fit: cover;';
            }
        }
        .store-details {
            text-align: center;
            padding: 0 30px;
            .intro {
                font-size: 0.875rem
            }
            .h-line {
                width: 75px;
                border-top: 3px solid #fff;
                margin-left: auto;
                margin-right: auto;
                @include media-max(sm) {
                    border-top: 3px solid theme-color('dark');
                }
            }
            .store-address {
                h4{
                    margin: 0;
                    font-size: 1.125rem;
                    line-height: 22px;
                }
            }
            @include media-min(sm) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
            }
            @include media-max(sm) {
                padding-top: 15px;
            }
        }
        &:after {
            @include media-min(sm) {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                content: "";
                background: rgba(0, 0, 0, 0.5);
            }
        }
        @include media-min(sm) {
            position: relative;
            height: 0;
            padding-bottom: 40%;
        }
        @include media-max(sm) {
            margin-bottom: 30px;
            color: theme-color('dark');
        }
    }
}

.curations-section {
    margin-bottom: 3.125rem;
    .section-title {
        text-align: center;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.explore-categories {
    margin-bottom: 3.125rem;
    .section-title {
        text-align: center;
        color: theme-color('dark');
    }
    .explore-wrap {
        clear: left;
        overflow: hidden;
        .single-category {
            position: relative;
            margin-bottom: 30px;
            a {
                position: relative;
                background-color: #F0EFEF;
                height: 100%;
                width: 100%;
                display: block;
                transition: all 0.3s ease-in-out;
                img {
                    width: 100%;
                    height: auto;
                }
                .category-name {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    background-color: rgba(0,0,0,0.5);
                    h5 {
                        font-size: 18px;
                        line-height: 24px;
                        left: 0.9px;
                        text-align: center;
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #ffffff;
                    }
                }
            }
        }
    }
}

.testimonails-section {
    margin: 0 -10px;
    margin-bottom: 3.125rem;
    .section-title {
        text-align: center;
        padding-left: 10px;
    }
    .testimoails-wrap {
        .single-testimonial {
            padding: 0 10px;
            .testimonial-img {
                position: relative;
                cursor: pointer;
                .testimonial-text {
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    z-index: 100;
                    background-color: rgba(0,0,0,0.5);
                    .testimonial-inner {
                        position: absolute;
                        padding: 10px;
                        top: 50%;
                        text-align: center;
                        left: 0px;
                        transform: translateY(-50%);
                        p{
                            color: #ffffff;
                            font-size: 1.125rem;
                            letter-spacing: 0.9px;
                            font-weight: 300;
                            line-height: 24px;
                            padding: 10px;
                        }
                        a {
                            text-decoration: none;
                            font-size: 1.125rem;
                            color: #454545 !important;
                            letter-spacing: 0.9px;
                            background-color: #E7B43C;
                            width: 161px;
                            padding: 10px 15px;
                        }
                    }
                }
                &:hover {
                    .testimonial-text {
                        display: block;
                    }
                }
            }
            .testimonial-data {
                margin-top: 10px;
                .client-name {
                    margin-bottom: 0px;
                    font-weight: 600;
                    font-size: 1.125rem;
                    letter-spacing: 0.9px;
                    margin: 0px;
                    line-height: 24px;
                    color: #545454;                    
                }
                .client-city {
                    font-size: 1.125rem;
                    font-weight: 300;
                    letter-spacing: 0.9px;
                    margin: 0px;
                    line-height: 24px;
                    color: #545454;
                }
            }
        }
    }
}