$theme-colors: (
  "primary": #e7b43c,
  "secondary": #fb8a57,
  "dark": #333333,
  "light": #fbf9f1,
  "dark-blue": #134173,
  "light-blue": #73a6c8,
  "grey": #a0a4a9,
  "neworleans": #f3d694,
);

$roboto: Nunito Sans, sans-serif;;

$min-tablet: "(min-width: 992px)";
$max-tablet: "(max-width: 991px)";
//$min-tablet: "(min-width: 768px)";
$max-mobile: "(max-width: 767px)";