.brands-banner {
    margin-bottom: 1.56rem;
    .row-background {
        background-color: theme-color('primary');
        padding: 1.5625rem;
        .brand-title {
            @include media-max(sm) {
                text-align: center;
            }
        }
        .brand-description {
            p {
                margin: 0;
            }
            @include media-max(sm) {
                text-align: center;
            }
        }
        .brand-logo {
            text-align: center;
            img {
                width: 100px;
            }
        }
    }
}