.accordion {
    &-card {
        .btn {
            padding: 0;
            display: block;
            width: 100%;
            text-align: left;
            border: 0;
            color: theme-color('dark');
            border-top: 1px solid #9ea6ad;
            border-radius: 0;
            padding-top: 0.625rem;
            padding-bottom: 0.625rem;
            font-weight: 600;
            font-size: .875rem;
            text-transform: uppercase;
            position: relative;

            &:hover,
            &:focus {
                text-decoration: none;
            }

           &:after {
               content: "\f273";
               font-family: "Ionicons";
               position: absolute;
               right: 10px;
           }
           &[aria-expanded=true] {
                &:after {
                    content: "\f368";
                }
           }
           @include media-max(md){
               font-size: 1rem;
           }
        }
        &:last-child {
            border-bottom: 1px solid theme-color('grey');
        }
    }
    &-body {
        font-size: 0.875rem;
        p,ul {
            font-size: 0.875rem;
        }
        padding-bottom: 1rem;
        @include media-max(md){
            font-size: 1rem;
            p,ul {
                font-size: 1rem;
            }
        }
    }
}