.product {
    &-image {
        padding: 0;
        list-style: none;
        margin-left: -5px;
        margin-right: -5px;

        figure {
            width: 50%;
            float: left;
            padding: 0 5px;
            margin-bottom: 10px;
            cursor: pointer;

            &:nth-child(3){
                width: 100%;
            }
            img {
                max-width: 100%;
                height: auto;
            }
            a {
                display: block;
                transition: all 0.5s ease;
                box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
                &:hover {
                    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);                
                }
            }            
        }    
    }
}
.product-image.gallery-fullw {
    figure {
        width: 100%
    }
}
