.product-varition {
    .varition {
        &-title {
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: 600;
            margin-bottom: 5px;
        }
        &-list {
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                li {
                    margin-right: 14px;
                    margin-bottom: 14px;

                    input[type=radio]{
                        position: absolute;
                        position: absolute;
                        z-index: -1;
                        opacity: 0;
                        visibility: hidden;
                    }
                    label {
                        min-width: 100px;
                        border: 1px solid #333;
                        text-align: center;
                        font-size: 0.75rem;
                        padding: 6px 5px;
                        cursor: pointer;

                        &:hover {
                            background: #333;
                            color: #fff;
                        }
                        @include media-max(md){
                            min-width: 80px;
                        }
                    }
                    input[type=radio]:checked {
                        &~ label {
                            background: #333;
                            color: #fff;
                        }
                    }
                }
            }
        }
        &-color {
            .varition-list {
                ul {
                    li {
                        margin-bottom: 8px;

                        label {
                            min-width: inherit;                            
                            border-radius: 56%;                            
                            padding: 2px; 
                            background: transparent;
                            color: transparent;
                            border: 1px solid transparent;
                            margin-bottom: 0;

                            &:hover {
                                background: transparent;
                                color: transparent;
                            }

                            .color {
                                width: 28px;
                                height: 28px;
                                border-radius: 56%;
                                position: relative;
                                padding: 3px;
                                &.brown {
                                    background: #bf7953;
                                }                       
                                &.grey {
                                    background: #9E9E9E;
                                } 
                                &.dark-grey {
                                    background: #455a64;
                                }  
                                &.black {
                                    background: #25252c;
                                }      
                            }                            
                        }
                        input[type=radio]:checked {
                            &~ label {
                                border-color: #333; 
                                background: transparent;
                                color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}