.product {
    &-badges {
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
        top: 3px;
        left: 10px;        

        li {
            display: inline-block;
            border-radius: 0;
            padding: 3px 8px;
            font-size: 0.625rem;
            text-transform: uppercase;
            color: #fff;
            margin-right: 5px;
            font-weight: 700;

            &:last-child {
                margin-right: 0;
            }

            &.badge {
                &-new {
                    border: 1px solid #333333;
                    color: #333333;
                    background: #fff;                    
                }
                &-sale {
                    border: 1px solid #fa7235;
                    color: #fa7235;
                    background: #fff;    
                }
            }
            @include media-max(sm){
                font-size: 0.625rem;
                padding: 4px 10px;
            }
        }
    }
}