.product {
    &-title {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 0;        
    }
    &-summary {
        .price {
            font-size: 1.5rem;
            font-weight: 400;
        }
        @include media-min(lg) {
            padding-left: 2.5vw;
            padding-right: 2.5vw;
        }
    }
}