.product {
    &-title {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 0;        
    }
    &-summary {
        .price {
            font-size: 1.5rem;
            font-weight: 400;
        }
        @include media-max(md) {
            padding-top: 0.9375rem;
        }
    }
}