.related-products {
    .rp-section-heading {
        text-align: center;
    }
    .section-heading {
        font-size: 1.625rem;
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 0;
    }
    ul.products {
        padding-left: 55px;
        padding-right: 55px;
    }
    @include media-max(sm) {
        margin-top: 0!important;    
    }
}