.footer_nav_links{
	margin-bottom: 2rem;
	text-align: center;
	span {
		color:#646464;
	}
	a{
		color: $linen;
		padding: 0 1rem;
		font-size: .75rem;
		&:hover{
			text-decoration: none;
		}
	}
}
.site-info{
	text-align: center;
	.copyright{
		color: $linen;
		padding: 0 0 1rem;
		font-size: .75rem;
	}
}