.contact-block{
	margin-bottom: 2rem;
	.info-block{
		border-right: 1px solid #646464;
		margin-bottom: 1rem;
		@media (max-width: 991px){
			border-right: none;
		}
	}
	.request-block{
		padding: 1rem 0;
		.request-btn {
			font-size: .75rem;
			background: theme-color('neworleans');
			border-radius: 0;
			box-shadow: none;
			color: #333;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	.seperator{
	    border-top: 1px solid #646464;
    	width: 100%;
    	@media (max-width: 991px){
    		width: 50%;
    	}
	}
	.contact-block-title{
		color: $tanhide;
		font-weight: 600;
		text-transform: uppercase;
	    font-size: 1rem;
	}
	.ft-text{
		font-size: .875rem;
		margin-bottom: 2px;
		a{
			color: $linen;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.social-links {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
	max-width: 70%;

	.social-link {
		margin-right: 12px;
		margin-bottom: 10px;

		a {
			width: 35px;
			height: 34px;
			border-radius: 56%;
			display: block;
			text-align: center;
			font-size: 20px;			
			padding-top: 4px;
			display: block;		
			transition: all 0.6s ease;
		}
		&.fb {
			a {				
				color: #fff;
				background: #3b5998;					

			}
		}
		&.insta {
			a {
				color: #fff;
				background: #e95950;					
			}
		}
		&.pinterest {
			a {				
				color: #fff;
				background: #bd081c;				
			}
		}
	}	
	@include media-max(md){
		margin: 0 auto;
		max-width: 50%;
	}	
}

.customer-care {
	.cc-info-box {
		margin-bottom: 1.875rem;
		p {
			margin-bottom: 0;
			font-size: .75rem;
			color: $linen;
		}
	}
	@include media-max(md){
		text-align: center;
	}
}