<!-- Color -->
<div class="accordian-row filter-widget">
    <div class="accordian-heading" data-toggle="collapse" data-target="#collapse__4" aria-expanded="true" aria-controls="collapse__4">
        <h5 class="filter-title">Color</h5>
    </div>
    <div class="accordian-content filters collapse show" id="collapse__4">
        <ul class="custom-scrollbar">
            <li>
                <input type="checkbox" id="black" name="color">
                <label for="black" class="filter-label"><span class="filter-text">Black</span><span class="products-count">3</span></label>
            </li>
            <li>
                <input type="checkbox" id="grey" name="color">
                <label for="grey" class="filter-label"><span class="filter-text">Grey</span><span class="products-count">8</span></label>
            </li>
            <li>
                <input type="checkbox" id="white" name="color">
                <label for="white" class="filter-label"><span class="filter-text">white</span><span class="products-count">5</span></label>
            </li>
            <li>
                <input type="checkbox" id="navy_blue" name="color">
                <label for="navy_blue" class="filter-label"><span class="filter-text">Navy Blue</span><span class="products-count">1</span></label>
            </li>
            <li>
                <input type="checkbox" id="yellow" name="color">
                <label for="yellow" class="filter-label"><span class="filter-text">Yellow</span><span class="products-count">3</span></label>
            </li>
            <li>
                <input type="checkbox" id="red" name="color">
                <label for="red" class="filter-label"><span class="filter-text">Red</span><span class="products-count">5</span></label>
            </li>
        </ul>
    </div>
</div>
<!-- End of Color -->