<!-- Brands -->
<div class="accordian-row filter-widget">
    <div class="accordian-heading" data-toggle="collapse" data-target="#collapse__3" aria-expanded="true" aria-controls="collapse__3">
        <h5 class="filter-title">Brands</h5>
    </div>
    <div class="accordian-content filters collapse show" id="collapse__3">
        <ul class="custom-scrollbar">
            <li>
                <input type="checkbox" id="josmo" name="brands">    
                <label for="josmo" class="filter-label"><span class="filter-text">Josmo</span><span class="products-count">3</span></label>
            </li>
            <li>
                <input type="checkbox" id="the_lohasmith" name="brands">
                <label for="the_lohasmith" class="filter-label"><span class="filter-text">The Lohasmith</span><span class="products-count">8</span></label>
            </li>
            <li>
                <input type="checkbox" id="studio_wood" name="brands">
                <label for="studio_wood" class="filter-label"><span class="filter-text">Studio wood</span><span class="products-count">5</span></label>
            </li>
            <li>
                <input type="checkbox" id="twisty" name="brands">
                <label for="twisty" class="filter-label"><span class="filter-text">Twisty</span><span class="products-count">6</span></label>
            </li>
            <li>
                <input type="checkbox" id="deniable_studio" name="brands">
                <label for="deniable_studio" class="filter-label"><span class="filter-text">Deniable Studio</span><span class="products-count">1</span></label>
            </li>
            <li>
                <input type="checkbox" id="hush" name="brands">
                <label for="hush" class="filter-label"><span class="filter-text">Hush</span><span class="products-count">15</span></label>
            </li>
            <li>
                <input type="checkbox" id="art_n_found" name="brands">
                <label for="arts_n_found" class="filter-label"><span class="filter-text">Art & Found</span><span class="products-count">16</span></label>
            </li>
            <li>
                <input type="checkbox" id="botl" name="brands">
                <label for="botl" class="filter-label"><span class="filter-text">Botl</span><span class="products-count">20</span></label>
            </li>
            <li>
                <input type="checkbox" id="wooden_story" name="brands">
                <label for="wooden_story" class="filter-label"><span class="filter-text">The Wooden Story</span><span class="products-count">20</span></label>
            </li>
            <li>
                <input type="checkbox" id="kanchi" name="brands">
                <label for="kanchi" class="filter-label"><span class="filter-text">Kanchi</span><span class="products-count">20</span></label>
            </li>
            <li>
                <input type="checkbox" id="loomshed" name="brands">
                <label for="loomshed" class="filter-label"><span class="filter-text">Loomshed</span><span class="products-count">18</span></label>
            </li>
            <li>
                <input type="checkbox" id="kavya_creations" name="brands">
                <label for="kavya_creations" class="filter-label"><span class="filter-text">Kavya Creations</span><span class="products-count">5</span></label>
            </li>
            <li>
                <input type="checkbox" id="terravida" name="brands">
                <label for="terravida" class="filter-label"><span class="filter-text">Terravida</span><span class="products-count">6</span></label>
            </li>
            <li>
                <input type="checkbox" id="doo_art_studio" name="brands">
                <label for="doo_art_studio" class="filter-label"><span class="filter-text">Doo Art Studio</span><span class="products-count">16</span></label>
            </li>
        </ul>
    </div>
</div>
<!-- End of Brands -->