<!-- Size -->
<div class="accordian-row filter-widget">
    <div class="accordian-heading" data-toggle="collapse" data-target="#collapse__6" aria-expanded="true" aria-controls="collapse__6">
        <h5 class="filter-title">Size</h5>
    </div>
    <div class="accordian-content filters collapse show" id="collapse__6">
        <ul class="custom-scrollbar">
            <li>
                <input type="checkbox" id="size_xl" name="size">
                <label for="size_xl" class="filter-label"><span class="filter-text">XL</span><span class="products-count">3</span></label>
            </li>
            <li>
                <input type="checkbox" id="size_l" name="size">
                <label for="size_l" class="filter-label"><span class="filter-text">L</span><span class="products-count">8</span></label>
            </li>
            <li>
                <input type="checkbox" id="size_m" name="size">
                <label for="size_m" class="filter-label"><span class="filter-text">M</span><span class="products-count">5</span></label>
            </li>
            <li>
                <input type="checkbox" id="size_s" name="size">
                <label for="size_s" class="filter-label"><span class="filter-text">S</span><span class="products-count">1</span></label>
            </li>
        </ul>
    </div>
</div>
<!-- End of Size -->