<!-- Category -->
<div class="accordian-row filter-widget">
    <div class="accordian-heading" data-toggle="collapse" data-target="#collapse__1" aria-expanded="true" aria-controls="collapse__1">
        <h5 class="filter-title">Category</h5>
    </div>
    <div class="accordian-content filters collapse show" id="collapse__1">
        <ul class="custom-scrollbar">
            <li>
                <input type="checkbox" id="seating" name="category">
                <label for="seating" class="filter-label"><span class="filter-text">Seating</span><span class="products-count">10</span></label>
            </li>
            <li>
                <input type="checkbox" id="storage" name="category">
                <label for="storage" class="filter-label"><span class="filter-text">Storage</span><span class="products-count">5</span></label>
            </li>
            <li>
                <input type="checkbox" id="tables" name="category">
                <label for="tables" class="filter-label"><span class="filter-text">Tables</span><span class="products-count">3</span></label>
            </li>
            <li>
                <input type="checkbox" id="beds" name="category">
                <label for="beds" class="filter-label"><span class="filter-text">Beds</span><span class="products-count">0</span></label>
            </li>
            <li>
                <input type="checkbox" id="lighting" name="category">
                <label for="lighting" class="filter-label"><span class="filter-text">Lighting</span><span class="products-count">20</span></label>
            </li>
        </ul>
    </div>
</div>
<!-- End of Category -->