<!-- Material -->
<div class="accordian-row filter-widget">
    <div class="accordian-heading" data-toggle="collapse" data-target="#collapse__5" aria-expanded="true" aria-controls="collapse__5">
        <h5 class="filter-title">Material</h5>
    </div>
    <div class="accordian-content filters collapse show" id="collapse__5">
        <ul class="custom-scrollbar">
            <li>
                <input type="checkbox" id="white_ash" name="color">
                <label for="white_ash" class="filter-label"><span class="filter-text">White Ash Wood</span><span class="products-count">3</span></label>
            </li>
            <li>
                <input type="checkbox" id="metal" name="color">
                <label for="metal" class="filter-label"><span class="filter-text">Metal</span><span class="products-count">8</span></label>
            </li>
            <li>
                <input type="checkbox" id="kraft_paper" name="color">
                <label for="kraft_paper" class="filter-label"><span class="filter-text">Special Kraft Paper</span><span class="products-count">5</span></label>
            </li>
            <li>
                <input type="checkbox" id="m_black" name="color">
                <label for="m_black" class="filter-label"><span class="filter-text">Black</span><span class="products-count">1</span></label>
            </li>
        </ul>
    </div>
</div>
<!-- End of Material -->