<!-- Price -->
<div class="accordian-row filter-widget">
    <div class="accordian-heading" data-toggle="collapse" data-target="#collapse__7" aria-expanded="true" aria-controls="collapse__7">
        <h5 class="filter-title">Price</h5>
    </div>
    <div class="accordian-content filters collapse show" id="collapse__7">
        <div class="price-slider-wrapper">
            <input type="text" class="price-range-slider" name="price_range" value=""
                data-type="double"
                data-min="2000"
                data-max="500000"
                data-from="2000"
                data-to="500000"
                data-grid="false"
            />
        </div>            
    </div>
</div>
<!-- End of Price -->