.header-1 {
    .header-navbar {
       // border-top: 3px double #e7b33d;
    }
    .header-top-right {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;       
                 
        }
    }
}