<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}     
            <div class="container-fluid container-spacing">
                <div class="banner">
                    <div class="banner-inner">
                        <div class="banner-item">
                            <a href="#">
                                <picture>
                                    <source media="(min-width: 768px)" srcset="{{"img/banner/Poolside.jpg" | absURL}}">
                                    <source media="(max-width: 767px)" srcset="{{"img/banner/Poolside-Mobile.jpg" | absURL}}">
                                    <img src="{{"img/banner/Poolside.jpg" | absURL}}" alt="Flowers" class="img-fluid">
                                </picture>
                            </a>
                        </div>
                        <div class="banner-item">
                            <a href="#">
                                <picture>
                                    <source media="(min-width: 768px)" srcset="{{"img/banner/April-Banner-2.jpg" | absURL}}">
                                    <source media="(max-width: 767px)" srcset="{{"img/banner/Vday-mobile-banner_2.jpg" | absURL}}">
                                    <img src="{{"img/banner/April-Banner-2.jpg" | absURL}}" alt="Flowers" class="img-fluid">
                                </picture>                               
                            </a>
                        </div>
                        <div class="banner-item">
                            <a href="#">
                                <picture>
                                    <source media="(min-width: 768px)" srcset="{{"img/banner/Furniture-Banner.jpg" | absURL}}">
                                    <source media="(max-width: 767px)" srcset="{{"img/banner/2_AndSO_M_WebBanner_oceanchic.jpg" | absURL}}">
                                    <img src="{{"img/banner/Furniture-Banner.jpg" | absURL}}" alt="Flowers" class="img-fluid">
                                </picture>                               
                            </a>
                        </div>
                        <div class="banner-item">
                            <a href="#">
                                <picture>
                                    <source media="(min-width: 768px)" srcset="{{"img/banner/Lighting-Banner.jpg" | absURL}}">
                                    <source media="(max-width: 767px)" srcset="{{"img/banner/5_AndSO_M_WebBanner_lighting.jpg" | absURL}}">
                                    <img src="{{"img/banner/Lighting-Banner.jpg" | absURL}}" alt="Flowers" class="img-fluid">
                                </picture>                               
                            </a>
                        </div>
                        <div class="banner-item">
                            <a href="#">
                                <picture>
                                    <source media="(min-width: 768px)" srcset="{{"img/banner/SoftFurnishingsBanner.jpg" | absURL}}">
                                    <source media="(max-width: 767px)" srcset="{{"img/banner/3_AndSO_M_WebBanner_softfurnishings.jpg" | absURL}}">
                                    <img src="{{"img/banner/SoftFurnishingsBanner.jpg" | absURL}}" alt="Flowers" class="img-fluid">
                                </picture>                               
                            </a>
                        </div>
                    </div>
                </div>
                <div class="discover-section">
                    <div class="s-title">
                        <img src="{{"img/2_Discover-01.png" | absURL}}" class="img-fluid" alt="title">
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#new">New</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#featured">Our Picks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#bestsellers">Bestsellers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#liveedge">Live Edge</a>
                        </li>
                    </ul>
        
                    <div class="tab-content">
                        <div class="product-slider tab-pane active" id="new">
                            <ul class="products">
                                {{- partial "product-loop.html" . -}}
                            </ul>    
                        </div>
                        <div class="product-slider tab-pane fade" id="featured">
                            <ul class="products">
                                {{- partial "product-loop.html" . -}}
                            </ul>  
                        </div>
                        <div class="product-slider tab-pane fade" id="bestsellers">
                            <ul class="products">
                                {{- partial "product-loop.html" . -}}
                            </ul>  
                        </div>
                        <div class="product-slider tab-pane fade" id="liveedge">
                            <ul class="products">
                                {{- partial "product-loop.html" . -}}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="explore-furniture-section">
                    <div class="s-title">
                        <img src="{{"img/1_Explore-01.png" | absURL}}" class="img-fluid" alt="title">
                    </div>    
                    <div class="row mr-10 ml-10">
                        <div class="col-sm-6 pr-10 pl-10">
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/explore/sofanew.png" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Sofas
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div> 
                        </div>
                        <div class="col-sm-6 pr-10 pl-10">
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/explore/table-new.png" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Tables
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div> 
                        </div>    
                    </div>
                    <div class="cat-wrap-outer">
                        <div class="category-slider">
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/explore/Lounger.png" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Loungers
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div>
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/explore/Console.png" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Consoles
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div>
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/explore/Bed.png" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Beds
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div> 
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/explore/Chair.png" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Chairs
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div>
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/image5.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div>
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/explore/Chair.png" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div> 
                        </div>    
                    </div> 
                </div>       
                
                <div class="curations-section">
                    <h4 class="section-title text-uppercase mobile-title-margin mb-30">Curations</h4>
                    <div class="c-image">
                        <picture>
                            <source media="(min-width: 768px)" srcset="{{"img/curations/curations.png" | absURL}}">
                            <source media="(max-width: 767px)" srcset="{{"img/curations/curations.png" | absURL}}">
                            <img src="{{"img/curations/curations.png" | absURL}}" alt="Curations banner" class="img-fluid">
                            <div class="banner-text">
                                <h4 class="semi">CURATED SPACES</h4>
                                <h4 class="light">Explore. Experience. Indulge.</h4>
                                <h4 class="bold">Shop Now ></h4>
                            </div>
                        </picture>
                    </div>
                </div>

                <div class="explore-categories">
                    <h4 class="section-title text-uppercase mobile-title-margin mb-30">Home decor</h4>
                    <div class="explore-wrap">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="single-category">
                                    <a href="#">
                                        <img src="{{"img/homedecor/TableWare.jpg" | absURL}}" alt="Tableware" class="img-fluid">
                                        <div class="category-name">
                                            <h5>TABLE WARE</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="single-category">
                                    <a href="#">
                                        <img src="{{"img/homedecor/Lighting.jpg" | absURL}}" alt="Study" class="img-fluid">
                                        <div class="category-name">
                                            <h5>LIGHTING</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="single-category">
                                    <a href="#">
                                        <img src="{{"img/homedecor/DecorativeAccessories.jpg" | absURL}}" alt="Tables" class="img-fluid h-250">
                                        <div class="category-name">
                                            <h5>DECORATIVE ACCESSORIES</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-category">
                                    <a href="#">
                                        <img src="{{"img/homedecor/Mirrors.jpg" | absURL}}" alt="Dining" class="img-fluid h-250">
                                        <div class="category-name">
                                            <h5>MIRRORS</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-category">
                                    <a href="#">
                                        <img src="{{"img/homedecor/Planters.jpg" | absURL}}" alt="Carpets" class="img-fluid h-250">
                                        <div class="category-name">
                                            <h5>PLANTERS</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="visit-store-section">
                    <a href="#">
                        <div class="store-img">
                            <img src="{{"img/pfa.jpg" | absURL}}" class="img-fluid" alt="store-image">
                            <div class="store-details">
                                <div class="store-title">
                                    <h2>Visit Our store</h2>
                                </div>
                                <div class="intro">
                                    And So is a store that houses a collaborative environment to promote artisanal crafted products with their own modern twist. 
                                    A Collective of designers, artists, storytellers and thinkers that create and curate unique pieces for your everyday life.
                                </div>
                                <hr class="h-line">
                                <div class="store-address">
                                    <h4>AND SO Store,</h4>
                                    <h4>H. No. 850, F.C. Goa House,</h4>
                                    <h4>Off N.H.66, Porvorim,</h4>
                                    <h4>Goa - 403521</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="brands-section">
                    <a href="#"><img src="{{"img/brands.jpg" | absURL}}" class="img-fluid" alt="brands"></a>
                </div>

                <div class="testimonails-section">
                    <div class="s-title">
                        <img src="{{"img/3_AndSo_U-01.png" | absURL}}" class="img-fluid" alt="title">
                    </div>
                    <div class="s-content">
                        <p>Here's what our clients are saying about us. Share your journey with AND SO here.</p>
                    </div>
                    <div class="testimoails-wrap">
                        <div class="single-testimonial">
                            <div class="testimonial-img">
                                <img src="{{"img/testimonials/Anish-Sood.jpg" | absURL}}" class="img-fluid" alt="Anish Sood">
                                <div class="testimonial-text">
                                    <div class="testimonial-inner">
                                        <p>We absolutely love our Prance dining table! It was one of the first pieces of furniture we picked for our new home and it adds such a unique rustic touch to the space. Delivery and installation was also perfect - Many thanks to Anjali, Tony and the AndSo team!</p>    
                                        <a href="#">Shop now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-data">
                                <div class="client-name">
                                    Anish Sood
                                </div>
                                <div class="client-city">
                                    Mumbai
                                </div>
                            </div>    
                        </div>
                        <div class="single-testimonial">
                            <div class="testimonial-img">
                                <img src="{{"img/testimonials/Shobhan-Kothgari-1.jpg" | absURL}}" class="img-fluid" alt="Anish Sood">
                                <div class="testimonial-text">
                                    <div class="testimonial-inner">
                                        <p>The experience of working with and so and Anjali has been a delightful and seamless experience. The bespoke products and their quality are a joy to use and I find myself now a proud owner of their product.</p>    
                                        <a href="#">Shop now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-data">
                                <div class="client-name">
                                    Shobhan Kothari
                                </div>
                                <div class="client-city">
                                    Mumbai
                                </div>
                            </div>    
                        </div>
                        <div class="single-testimonial">
                            <div class="testimonial-img">
                                <img src="{{"img/testimonials/testimonial-cooper-sofa-an.jpg" | absURL}}" class="img-fluid" alt="Anish Sood">
                                <div class="testimonial-text">
                                    <div class="testimonial-inner">
                                        <p>Absolutely loved the decor I bought from the And So store. They’re lovely accents to the dining table and bar, respectively.  The vase allows me to change the look of the table setting every time I entertain! I loved the store and the entire shopping experience. Tastefully curated!</p>    
                                        <a href="#">Shop now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-data">
                                <div class="client-name">
                                    Anushka Sani
                                </div>
                                <div class="client-city">
                                    Mumbai
                                </div>
                            </div>    
                        </div>
                        <div class="single-testimonial">
                            <div class="testimonial-img">
                                <img src="{{"img/testimonials/testimonial-testtubevase-Anushka-Sani.jpg" | absURL}}" class="img-fluid" alt="Anish Sood">
                                <div class="testimonial-text">
                                    <div class="testimonial-inner">
                                        <p>Absolutely loved the decor I bought from the And So store. They’re lovely accents to the dining table and bar, respectively.  The vase allows me to change the look of the table setting every time I entertain! I loved the store and the entire shopping experience. Tastefully curated!</p>    
                                        <a href="#">Shop now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-data">
                                <div class="client-name">
                                    Atul Naik
                                </div>
                                <div class="client-city">
                                    Mumbai
                                </div>
                            </div>    
                        </div>         
                    </div>
                </div>

            </div>
        {{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>