<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}     
            <div class="container-fluid container-spacing">
                <div class="banner">
                    <div class="banner-inner">
                        <div class="banner-item">
                            <a href="#">
                                <img class="img-fluid" src="{{"img/banner/Poolside.jpg" | absURL}}" alt="banner-image">
                                <button type="button" class="btn btn-primary banner-btn">Shop now</button>
                            </a>
                        </div>
                        <div class="banner-item">
                            <a href="#">
                                <img class="img-fluid" src="{{"img/banner/Banner-April1.jpg" | absURL}}" alt="banner-image">
                                <button type="button" class="btn btn-primary banner-btn">Shop now</button>
                            </a>
                        </div>
                        <div class="banner-item">
                            <a href="#">
                                <img class="img-fluid" src="{{"img/banner/April-Banner-2.jpg" | absURL}}" alt="banner-image">
                                <button type="button" class="btn btn-primary banner-btn">Shop now</button>                                
                            </a>
                        </div>
                    </div>
                </div>

                <div class="best-seller-category-section">
                    <h5>Best seller</h5>    
                    <div class="row c-m-10">
                        <div class="col-sm-6 c-p-10">
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/banner/Magazine-racks.png" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div> 
                        </div>
                        <div class="col-sm-6 c-p-10">
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/banner/Laundry-baskets.png" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div> 
                        </div>    
                    </div>
                    <div class="1">
                        <div class="category-slider">
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/image1.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div>
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/image2.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div>
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/image3.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div> 
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/image4.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div>
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/image5.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div>
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/image6.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div> 
                        </div>    
                    </div> 
                </div>

                <div class="accessories-section">
                    <h5>What makes your house a home</h5>
                    <div class="1">
                        <div class="category-slider">
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/IMG_8892-2-02.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div>
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/IMG_8892-2-02.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div>
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/rayden-tabletop-2910.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div> 
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/RAY-BSK-FPL-GRY-02-large.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div>
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/IP-CityGrad-A5-Jodhpur-01-1.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div>
                            <div class="category-wrapper">
                                <div class="category-image">
                                    <a href="#">
                                        <img src="{{"img/category/FYR-L2-DBL-01-02.jpg" | absURL}}" class="img-fluid" alt="category-image">                                    
                                    </a>
                                    </div>
                                <div class="category-title">
                                    <a href="#">
                                        Category one
                                    </a>
                                </div> 
                                <div class="category-product-count">
                                    <a href="#">
                                        200+ products
                                    </a>
                                </div>  
                            </div> 
                        </div>    
                    </div> 
                </div>

                <!--><div class="curations-section">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-col">
                                <img src="{{"img/left-banner-img.jpg" | absURL}}" class="img-fluid" alt="image">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-col">
                            
                            </div>
                        </div>
                    </div>
                </div>-->
                
                <div class="brands-section">
                    <h5>Featured brands</h5>
                    <div class="brand-inner-wrap">
                        <div class="brand-logo">
                            <a href="#">
                                <img class="img-fluid" src="{{"img/brands/loomshed.png" | absURL}}" alt="brand-img">
                            </a>    
                        </div>
                        <div class="brand-logo">
                            <a href="#">
                                <img class="img-fluid" src="{{"img/brands/terravida.png" | absURL}}" alt="brand-img">
                            </a>    
                        </div>
                        <div class="brand-logo">
                            <a href="#">
                                <img class="img-fluid" src="{{"img/brands/kavya.png" | absURL}}" alt="brand-img">
                            </a>    
                        </div>
                        <div class="brand-logo">
                            <a href="#">
                                <img class="img-fluid" src="{{"img/brands/dooart.png" | absURL}}" alt="brand-img">
                            </a>    
                        </div>
                        <div class="brand-logo">
                            <a href="#">
                                <img class="img-fluid" src="{{"img/brands/botl.png" | absURL}}" alt="brand-img">
                            </a>    
                        </div>
                        <div class="brand-logo">
                            <a href="#">
                                <img class="img-fluid" src="{{"img/brands/hush.png" | absURL}}" alt="brand-img">
                            </a>    
                        </div>
                        <div class="brand-logo">
                            <a href="#">
                                <img class="img-fluid" src="{{"img/brands/josmo-pic.png" | absURL}}" alt="brand-img">
                            </a>    
                        </div>
                        <div class="brand-logo">
                            <a href="#">
                                <img class="img-fluid" src="{{"img/brands/loomshed.png" | absURL}}" alt="brand-img">
                            </a>    
                        </div>
                    </div>
                </div>
                
                <div class="visit-store-section">
                    <a href="">
                        <div class="row f-row">
                            <div class="col-md-6">
                                <div class="store-img">
                                    <img src="{{"img/pfa.jpg" | absURL}}" class="img-fluid" alt="store-image">
                                </div>    
                            </div>
                            <div class="col-md-6">
                                <div class="store-details">
                                    <div class="intro">
                                        And So is a store that houses a collaborative environment to promote artisanal crafted products with their own modern twist. 
                                        A Collective of designers, artists, storytellers and thinkers that create and curate unique pieces for your everyday life.
                                    </div>
                                    <hr class="h-line">
                                    <div class="store-address">
                                        <h4>AND SO Store,</h4>
                                        <h4>H. No. 850, F.C. Goa House,</h4>
                                        <h4>Off N.H.66, Porvorim,</h4>
                                        <h4>Goa - 403521</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>

            </div>
        {{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>