.contact-block{
	margin-bottom: 2rem;
	border-bottom: 2px solid #464646;
	.info-block{
		border-right: 1px solid #464646;
		margin-bottom: 1rem;
		@media (max-width: 991px){
			border-right: none;
		}
	}
	.request-block{
		padding: 1rem 0;
		.catalog-request{
		    font-size: 18px;
		    text-transform: capitalize;
		    font-weight: 900;
		    margin-bottom: 1rem;
		    a{
		    	color: white;
		    }
		}
		@media (max-width: 991px){
			text-align: center;
		}
	}
	.seperator{
	    border-top: 1px solid #464646;
    	width: 100%;
    	@media (max-width: 991px){
    		width: 50%;
    	}
	}
	.contact-block-title{
		color: $tanhide;
		font-weight: 900;
		text-transform: uppercase;
	    font-size: 1rem;
	}
	.ft-text{
		font-size: .875rem;
		margin-bottom: 2px;
		a{
			color: $linen;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.customer_care{
		color: $linen;
		@media (max-width: 991px){
			text-align: center;
		}
	}
}

.social-links {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;

	.social-link {	
		margin-right: 12px;
		margin-bottom: 10px;

		a {
			width: 35px;
			height: 34px;
			border-radius: 56%;
			display: block;
			text-align: center;
			font-size: 20px;
			color: #fff;
			padding-top: 2px;			
		}
		&.fb {
			a {
				background: #3b5998;
			}
		}
		&.insta {
			a {
				background: #e95950;
			}
		}
		&.pinterest {
			a {
				background: #bd081c;
			}
		}
	}		
}