.footer{
    background: theme-color('dark');
}
.footer_services {
	margin-bottom: 1.25rem;
	border-bottom: 2px solid #464646;
	text-align: center;

	.footer-link{
		color: white;
		font-size: 0.875rem;
		padding-left: 27px;
		position: relative;
		display: inline-block;
		text-align: left;
		
		i{
			font-size: 20px;
		}
		span{
			padding: 0 0.5rem;
			display: block;
		}
		&:hover{
			text-decoration: none;
		}
		.sticky-icon {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.mm-top-0 {
		@include media-max(md) {
			margin-top: 0!important;
		}
	}
	@media (max-width: 991px){
		text-align: left;
		margin-bottom: 0.625rem;
	}
}    