.ft-section-title {
    color: theme-color('neworleans');
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .75rem;
    font-weight: 500;
    margin-bottom: 0.625rem;

    @include media-max(md){
        text-align: center;
    }
}

.footer-seperator {
    border-color: #646464;
}

.footer {
    position: relative;
    > .container-fluid {
        width: 90%;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            a {
                color: #fff;
                font-size: .725rem;
                text-decoration: none;
            }
        }
        @include media-max(md){
            text-align: center;
        }
    }
    .footer-sticky-bg {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: auto;
        left: 0;
        opacity: 0.05;
        max-width: 400px;
        pointer-events: none;
    }
}

