.ft-section {
    &-title {
        color: theme-color('neworleans');
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .875rem;
        font-weight: 500;
        margin-bottom: 0.1875rem;

        @include media-max(md){
            text-align: center;
        }
    }
    &-sub-title {
        color: #fff; 
        font-size: 0.875rem;
        @include media-max(md){
            text-align: center;
        }
    }
}

.footer-seperator {
    border-color: #646464;
}

.footer {
    position: relative; 
    ul {
        list-style: none;
        padding: 0;
        li {
            a {
                color: #fff;
                font-size: .875rem;
                text-decoration: none;
            }
        }
        @include media-max(md){
            text-align: center;
        }
    }
    .footer-sticky-bg {
        position: absolute;
        bottom: 20px;
        z-index: 1;
        width: 100%;
        height: auto;
        left: 0;
        opacity: 0.05;
        max-width: 400px;
        pointer-events: none;
    }
}

.infoIcon-size {
    vertical-align: middle;
    margin-right: 8px;
}

