.ft-section-title {
    color: theme-color('neworleans');
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .75rem;
    font-weight: 500;
    @include media-max(md){
        text-align: center;
    }
}

.footer-seperator {
    border-color: #646464;
}