.footer_nav_links{
	margin-bottom: 2rem;
	text-align: center;
	ul { 
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li {			
			margin: 3px 0;
			border-right: 1px solid #646464;
			&:last-child {
				border-right: 0;
			}
			a{
				color: theme-color('linen');
				padding: 0 1rem;
				font-size: .875rem;
				padding: 0 1.2rem;

				&:hover{
					text-decoration: none;
					color: theme-color('primary');
				}
				@include media-max(md) {
					padding-left: 0;
				}
			}		
		}
		@include media-max(md) {
			justify-content: flex-start;
		}
	}
}
.site-info{
	text-align: center;
	.copyright{
		color: theme-color('linen');
		padding: 0 0 1rem;
		font-size: .875rem;
	}
	@include media-max(md) {
		text-align: left;
	}
}