<div class="product-collection mt-5">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-left">
                <div class="collection-img-container">
                    <div class="material-color-box d-none d-lg-block"></div>
                    <img src="{{"img/product-collections/collection1.jpg" | absURL}}" class="img-fluid collection-img">
                </div>
            </div>
            <div class="col-lg-6 col-right">
                <div class="collection-content">                    
                    <h2 class="section-title">CURATED SPACES</h2>
                    <p class="section-content">Explore. Experience. Indulge.</p>
                    <div class="collection-actions">
                        <a href="#" class="btn btn-lg shop-by-collection-btn">Shop Collection</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>