body {
    padding-top: 113px;
    @include media-max(md) {
        padding-top: 64px;
    }
    @include media-max(sm) {
        padding-top: 49px;
    }
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: #fff;    
    box-shadow: 0 1px 5px rgba(0,0,0,.05);
    transition: all .6s ease;
    
    &-topbar {
        padding: 3px 0;
        background: theme-color('neworleans');
    }
    &-logo {
        .navbar-brand {      
            padding-top: 0.125rem;      
            padding-bottom: 0.125rem;
            .logo-text {
                color: theme-color('dark');
            }
            @include media-max(sm) {
                max-width: 45px;
                height: auto;
            }
        }
        @include media-min(lg) {
            padding-right: 2%;
        }
    }
    .contact-info,
    .nav-links {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding-right: 15px;
            &:last-child {
                padding-right: 0;
            }
            float: left;
            a {
                display: inline-block;
                color: theme-color('dark');
                font-size: .75rem;
                text-decoration: none;
                display: flex;
                align-items: center;

                .nav-icon {
                    padding-right: 3px;
                }
            }
        }  
        &-sticky {
            clear: left;
            overflow: hidden;
            .cart-count {
                padding-left: 5px;
            }
        }      
    }
    &-sticky {
        @include media-min(md) {
            transform: translateY(-36px);
        }
    }
    &-navbar {
        .navbar {
            padding: 0;
            @include media-max(md) {
                position: inherit;
            }
        }
    }
    .menu {        
        a {
            &:hover,
            &:focus {
                color: theme-color('primary');
            }            
        }
        > .menu-item {
            > a {
                text-transform: uppercase;
                font-weight: 500;
            }
            @include media-min(md) {
                &:last-child {
                    padding-right: 0;
                }
            }
        }
        .mega-menu {
            display: none;
        }
        &-item-has-children {            
            &:hover,
            &:focus {
                > a{
                    color: theme-color('primary');
                }
                > .mega-menu {
                    display: block;
                }
            }
        }
        @include media-min(md) {
            padding: 0;
            margin: 0;
    
            > .menu-item {
                float: left; 
                padding: 1.75rem 0.65rem;
            }            
            .mega-menu {
                position: absolute;
                top: 100%;
                left: -6rem;
                right: -6rem;
                text-align: center;
                border-top: 1px solid #D3D6D8;
                
                display: none;
                .menu-item {
                    float: none;
                    padding: 5px 0;
                }
            }
        } 
        @include media-max(md) {
            > .menu-item {
                margin-bottom: 10px;
            }
        }
        @include media-min(md) {
            float: right;
        }
        @include media-min(lg) {            
            > .menu-item {
                padding-left: 0.85rem;
                padding-right: 0.85rem;
            }
        }  
        @include media-min(xl) {            
            > .menu-item {
                padding-left: 1.25rem;
                padding-right: 1.25rem;
            }
        }  
        // .current-menu-item {
        //     > a {
        //         color: theme-color('primary');
        //     }
        // } 
        .badge {
            position: absolute;
            top: -15px;
            right: -2px;
            font-size: 70%;
            @include media-max(md) {
                top: 2px;
                right: 0;
            }
        }   
        .new-item {
            @include media-max(md) {
                a {
                    padding-right: 45px;
                }
            }
        }
    } 
    .highlight-menu-item {
        &.item-pink {
            > a {
                position: relative;
                &:after {
                    content: "";                
                    display: block;
                    height: 22px;
                    width: 100%;
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    position: absolute;
                    background-position: 50% 10%;
                    background-image: url(../img/stroke-hitpink.png);
                }
            }            
        }
        &.item-lightblue {
            > a {
                position: relative;
                &:after {
                    content: "";                
                    display: block;
                    height: 22px;
                    width: 100%;
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    position: absolute;
                    background-position: 50% 10%;
                    background-image: url(../img/stroke-lightblue.png);
                }
            }             
        }
    }   
    &__style1 {
        @include media-min(md) {
            .mega-menu {
                background: #333;
                ul {
                    color: #fff; 
                    li {
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.mega-menu {
    @include media-min(md) {        
        background: rgba(243, 214, 148, .05);
        box-shadow: 0 1px 5px rgba(0,0,0,.05);

        &:after {
            content: "";
            background: #fff;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }

        .menu-container {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
            max-height: 75vh;
            padding-left: 6rem;
            padding-right: 6rem;

            > .sub-menu {
                width: 65%;
                float: left;
                display: flex;
                margin-left: -15px;
                li {
                    a {
                        font-size: 1rem;
                    }
                }
                > li {
                    //flex: 1 0 25%;
                    width: 33.33%;
                    padding: 20px 15px !important;

                    > a {
                        font-weight: 600;
                        padding: 0 0 18px;
                        position: relative;
                        color: #fff;                        

                        &:after {
                            content: "";
                            display: block;
                            width: 90%;
                            height: 2px;
                            background: theme-color('primary');
                            position: absolute;
                            bottom: 12px;
                        }
                    }
                    > ul {
                        li {                            
                            padding: 0 0 3px;
                            ul {
                                padding-left: 23px;
                                list-style: circle;
                                text-indent: 0;
                                padding-top: 2px;
                            }
                        }                        
                    }
                }

                li {
                    text-align: left;
                }
            }
            > .menu-item-image {
                width: 35%;
                float: left;
                padding: 20px 0;
            }
        }
    }
    @include media-max(md) { 
        .menu-container {
            padding-left: 0;
            padding-right: 0;
            > .sub-menu {
                > li {
                    padding-top: 10px;
                    > a {
                        padding: 0 0 18px;
                        position: relative;
                        color: #333;
                        &:after {
                            content: "";
                            display: block;
                            width: 90%;
                            height: 2px;
                            background: theme-color('primary');
                            position: absolute;
                            bottom: 12px;
                        }
                    }
                    ul {
                        padding-left: 12px;
                    }
                }                
            }
        }
    }
}

.menu-item-image {
    @include media-max(md){
        display: none;
    }
}

.nav-icon {
    font-size: 1.25rem;
    @include media-max(md) {
        font-size: 1.1rem;
    }
}

.menu {
    list-style: none;
    padding: 1rem 0;
    margin: 0;

    .menu-item {
        padding: .3rem 1rem;
        a {
            text-decoration: none;
            display: inline-block;
            color: theme-color('dark');
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

#header-menu {    
    @include media-max(md) {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: #fff;
        display: none;
        max-height: calc(100vh - 64px);
        overflow: auto;
        
        &.active {
            display: block;
        }
    }
    @include media-max(sm) {
        max-height: calc(100vh - 49px);
    }
}

.navbar {
    &-toggler {
        border-radius: 0;
        float: right;
        position: relative;
        display: block;
        width: 28px;
        height: 26px;
        margin: 0 0 0 auto;
        padding: 0;
        outline: 0;

        &:focus {
            outline: 0;
        }

        &.on {
            .navbar--icon {
                background-color: transparent;
                &:before {
                    transform: rotate(45deg) translate(6px, 5px);
                }
                &:after {
                    transform: rotate(-45deg) translate(6px, -5px);
                }
            }
        }
    }
    &--icon {
        position: relative;
        display: block;

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: -8px;
        }

        &:after {
            top: 8px;
        }
    }
    &--icon,
    &--icon:before,
    &--icon:after {
        width: 100%;
        height: 3px;
        background-color: theme-color('dark');
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }
}

.search-box-wrapper {
    .search-btn {
        padding: 0;
        background: transparent;
        border: 0;
        margin-right: 15px;   
        outline: 0;

        .nav-icon {
            font-size: 1.4rem;
        } 
    }
}

.cart {
    &-count {
        min-width: 20px;
        min-height: 20px;
        border-radius: 56%;
        background: #fff;
        text-align: center;
        padding: 2px;
        font-size: 12px;
    }
}

.mobile-navlinks {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
            padding-right: 20px;
            a {
                color: #000;
            }
            .nav-icon {
                font-size: 24px;
            }
            .header-cart {
                padding-right: 22px;
                position: relative;
                .cart-count {
                    position: absolute;
                    background: #333;
                    color: #fff;
                    right: 0;
                    min-width: 18px;
                    min-height: 18px;
                    font-size: 10px;
                }
            }
        }
    }
}