<div class="sidebar-filters">
    <div class="sidebar-scrollable">

        <div class="sidebar-top-section pb-2">
            <div class="filter-action w-25 d-block d-lg-none">
                <button type="button" class="btn clear-filters">Clear All</button>
            </div>
            <h4 class="sidebar-title w-50 mb-0">Filters</h4>
            <div class="close-popup-wrap d-block d-lg-none w-25 text-right"> <button type="button" class="btn close-menu-popup"><i class="icon ion-md-close nav-icon"></i></button></div>
        </div>

        <!-- Filters Starts Here -->

            {{- partial "shop-page-components/filters/filter-category.html" . -}}      

            {{- partial "shop-page-components/filters/filter-brands.html" . -}}            

            {{- partial "shop-page-components/filters/filter-price.html" . -}}            

            {{- partial "shop-page-components/filters/filter-color.html" . -}}            

        <!-- Filters ends Here -->
        <div class="sidebar-action mobile-sticky d-block d-lg-none">
            <button type="button" class="btn btn-primary filter-products w-100">Show Products <span>200</span></button>
        </div>
    </div>
</div>