<div class="sidebar-filters">
    <h4 class="sidebar-title">Filters</h4>
    <!-- Category -->
    <div class="accordian-row filter-widget">
        <div class="accordian-heading" data-toggle="collapse" data-target="#collapse__1" aria-expanded="true" aria-controls="collapse__1">
            <h5 class="filter-title">Category</h5>
        </div>
        <div class="accordian-content filters collapse show" id="collapse__1">
            <ul>
                <li>
                    <input type="checkbox" id="seating" name="category">
                    <label for="seating" class="filter-label"><span class="filter-text">Seating</span><span class="products-count">10</span></label>
                </li>
                <li>
                    <input type="checkbox" id="storage" name="category">
                    <label for="storage" class="filter-label"><span class="filter-text">Storage</span><span class="products-count">5</span></label>
                </li>
                <li>
                    <input type="checkbox" id="tables" name="category">
                    <label for="tables" class="filter-label"><span class="filter-text">Tables</span><span class="products-count">3</span></label>
                </li>
                <li>
                    <input type="checkbox" id="beds" name="category">
                    <label for="beds" class="filter-label"><span class="filter-text">Beds</span><span class="products-count">0</span></label>
                </li>
                <li>
                    <input type="checkbox" id="lighting" name="category">
                    <label for="lighting" class="filter-label"><span class="filter-text">Lighting</span><span class="products-count">20</span></label>
                </li>
            </ul>
        </div>
    </div>
    <!-- End of Category -->

    <!-- Size -->
    <div class="accordian-row filter-widget">
        <div class="accordian-heading" data-toggle="collapse" data-target="#collapse__2" aria-expanded="true" aria-controls="collapse__2">
            <h5 class="filter-title">Size</h5>
        </div>
        <div class="accordian-content filters collapse show" id="collapse__2">
            <ul>
                <li>
                    <input type="checkbox" id="size_xl" name="size">
                    <label for="size_xl" class="filter-label"><span class="filter-text">XL</span><span class="products-count">3</span></label>
                </li>
                <li>
                    <input type="checkbox" id="size_l" name="size">
                    <label for="size_l" class="filter-label"><span class="filter-text">L</span><span class="products-count">8</span></label>
                </li>
                <li>
                    <input type="checkbox" id="size_m" name="size">
                    <label for="size_m" class="filter-label"><span class="filter-text">M</span><span class="products-count">5</span></label>
                </li>
                <li>
                    <input type="checkbox" id="size_s" name="size">
                    <label for="size_s" class="filter-label"><span class="filter-text">S</span><span class="products-count">1</span></label>
                </li>
            </ul>
        </div>
    </div>
    <!-- End of Size -->

    <!-- Price -->
    <div class="accordian-row filter-widget">
        <div class="accordian-heading" data-toggle="collapse" data-target="#collapse__3" aria-expanded="true" aria-controls="collapse__3">
            <h5 class="filter-title">Price</h5>
        </div>
        <div class="accordian-content filters collapse show" id="collapse__3">
            <div class="price-slider-wrapper">
                <input type="text" class="price-range-slider" name="price_range" value=""
                    data-type="double"
                    data-min="2000"
                    data-max="500000"
                    data-from="2000"
                    data-to="500000"
                    data-grid="false"
                />
            </div>            
        </div>
    </div>
    <!-- End of Price -->

</div>