<!DOCTYPE html>
<html>
    {{- partial "product-head.html" . -}}    
    {{- partial "head.html" . -}}

    <body class="product-single">
        {{- partial "header.html" . -}}

        {{- partial "breadcrumb.html" . -}}

        <div class="page-container">
          <div class="container-fluid container-spacing">
              <div class="row">
                  <div class="col-xs-12 col-md-7 col-xl-8 sp-col-left">
                      <div id="gallery" class="product-image gallery clearfix" itemscope itemtype="http://schema.org/ImageGallery">
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">                          
                          <a href="{{"img/ps-potrait_1.jpg" | absURL}}" data-width="1200" data-height="900" itemprop="contentUrl">
                            <img src="{{"img/ps-potrait_1.jpg" | absURL}}" itemprop="thumbnail" alt="Image description">
                          </a>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">                          
                          <a href="{{"img/ps-potrait_2.jpg" | absURL}}" data-width="1200" data-height="900" itemprop="contentUrl">
                            <img src="{{"img/ps-potrait_2.jpg" | absURL}}" itemprop="thumbnail" alt="Image description">
                          </a>
                        </figure>
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">                          
                          <a href="{{"img/ps-landscape.jpg" | absURL}}" data-width="1200" data-height="900" itemprop="contentUrl">
                            <img src="{{"img/ps-landscape.jpg" | absURL}}" itemprop="thumbnail" alt="Image description">
                          </a>
                        </figure>
                      </div>
                  </div>
                  <div class="col-xs-12 col-md-5 col-xl-4 sp-col-right sticky-sidebar">
                      <div class="product-summary pb-5">
                          <h1 class="product-title">BAWA LOUNGER</h1>
                          <div class="product-brand">By <a href="#" target="_self">Josmo</a></div>

                          <div class="price-wrap mt-3">
                              <p class="price">
                                  <span class="Price-amount amount">
                                      <span class="Price-currencySymbol">₹</span>
                                      90,000
                                  </span>
                              </p>
                          </div>

                          <div class="product-varition mb-4">
                            <div class="varition-box varition-color">
                              <div class="varition-title">Color: <span class="color-val"></span></div>
                              <div class="varition-list">
                                <ul>
                                  <li>
                                    <input type="radio" class="color-varient" data-colorname="Black" name="color" id="color-1" checked>
                                    <label for="color-1"><div class="color black"></div></label>
                                  </li>
                                  <li>
                                    <input type="radio" class="color-varient" data-colorname="Grey" name="color" id="color-2">
                                    <label for="color-2"><div class="color grey"></div></label>
                                  </li>
                                  <li>
                                    <input type="radio" class="color-varient" data-colorname="Dark Grey" name="color" id="color-3">
                                    <label for="color-3" ><div class="color dark-grey"></div></label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="varition-box varition-size">
                              <div class="varition-title">Size</div>
                              <div class="varition-list">
                                <ul>
                                  <li>
                                    <input type="radio" class="size-varient" name="size" id="size-1">
                                    <label for="size-1">S</label>
                                  </li>
                                  <li>
                                    <input type="radio" class="size-varient" name="size" id="size-2">
                                    <label for="size-2">M</label>
                                  </li>
                                  <li>
                                    <input type="radio" class="size-varient" name="size" id="size-3">
                                    <label for="size-3">L</label>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <div class="cart">
                              <div class="d-flex align-items-center pb-3">
                                  <div class="quantity">
                                    <div class="quantity-box">
                                        <button type="button" class="qty-btn minus-btn">-</button>
                                        <input type="number" name="qty" class="custom-qty qty" value="1" min="1" disabled>
                                        <button type="button" class="qty-btn plus-btn">+</button>
                                    </div>
                                  </div>
                                  <div class="product-set-of">Set of 4</div>                                  
                              </div>
                              <div class="d-flex">
                                  <div class="add-to-fav-wrap">
                                      <button type="button" class="add-to-fav"><i class="icon ion-md-heart nav-icon"></i></button>
                                  </div>
                                  <div class="flex-fill add-to-cart-wrap">    
                                      <button type="button" class="btn btn-primary add_to_cart_button">Add to cart</button>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion mt-5" id="product-additionDetail">
                              <div class="accordion-card accordion-description">
                                <div class="accordion-heading" id="description">
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse__1" aria-expanded="true" aria-controls="collapseOne">Description</button>
                                </div>
                            
                                <div id="collapse__1" class="collapse show" aria-labelledby="description" data-parent="#product-additionDetail">
                                  <div class="accordion-body">
                                    <p>Cooper is a sofa series with a twist, a simple cut out created for the backrest to sink in. Fully upholstered sofa available in a single-seater as well as a three-seater option. Elevated on casted metal legs, don’t forget to check out the beautifully stitched x-details.</p>
                                  </div>
                                </div>
                              </div>
                            
                              <div class="accordion-card accordion-properties">
                                <div class="accordion-heading" id="properties">
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse__2" aria-expanded="false" aria-controls="collapseOne">Properties</button>
                                </div>
                            
                                <div id="collapse__2" class="collapse" aria-labelledby="properties" data-parent="#product-additionDetail">
                                  <div class="accordion-body">
                                    <ul>
                                      <li>Dimensions:  L 72" x D 22" x H 36"</li>
                                      <li>Material:  Plywood, Solid Wood, Veneer, Laminate, Glass</li>
                                      <li>Finish: Red Oak Wood In A Natural Oil Finish</li>
                                      <li>No. Of Shelves: 4</li>
                                      <li>Storage Type: Closed Storage</li>
                                      <li>Installation Type: Floor Standing</li>
                                      <li>Care Instructions: Wipe with damp cloth.</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            
                              <div class="accordion-card accordion-shipping-delivery">
                                <div class="accordion-heading" id="shipping-delivery">
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse__3" aria-expanded="false" aria-controls="collapseOne">Shipping & Delivery</button>
                                </div>
                            
                                <div id="collapse__3" class="collapse" aria-labelledby="shipping-delivery" data-parent="#product-additionDetail">
                                  <div class="accordion-body">
                                      <p>This item arrives in 2-4 weeks via White Glove Delivery. We deliver across India.</p>
                                      <p>Our Delivery Service includes bringing the item into your home (up no more than two flights of stairs), unpacking it and removing all packaging. Headboards will be unpacked but not attached to existing bed frames.
                                      We want you to be thrilled with your purchase.</p> 
                                      <p>If you're not completely satisfied, we’ll gladly offer you an exchange or refund of the merchandise price within 30 days of receipt of product.</p>
                                      <p>If you have questions about shipping, delivery or returns, please call our Customer Care team at <a href="tel:+91 832 3915770" target="_blank">+91 832 3915770</a> or email us at <a href="mailto:hello@andso.in" target="_blank">hello@andso.in</a>.</p>
                                  </div>
                                </div>
                              </div>
                          </div>                          
                  </div>
              </div>
          </div>
        </div>
      
      <!-- Collections -->
      {{- partial "products/products-collections.html" . -}}   
      <!-- End of Collections -->   


      <!-- Similiar Products -->
      {{- partial "products/related-products.html" . -}}      
      <!-- End of Similiar Products -->


      <!-- Root element of PhotoSwipe. Must have class pswp. -->
      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
          <!-- Background of PhotoSwipe. 
              It's a separate element as animating opacity is faster than rgba(). -->
          <div class="pswp__bg"></div>
          <!-- Slides wrapper with overflow:hidden. -->
          <div class="pswp__scroll-wrap">
              <!-- Container that holds slides. 
                  PhotoSwipe keeps only 3 of them in the DOM to save memory.
                  Don't modify these 3 pswp__item elements, data is added later on. -->
              <div class="pswp__container">
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
              </div>

              <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
              <div class="pswp__ui pswp__ui--hidden">
                  <div class="pswp__top-bar">
                      <!--  Controls are self-explanatory. Order can be changed. -->
                      <div class="pswp__counter"></div>
                      <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                      <button class="pswp__button pswp__button--share" title="Share"></button>
                      <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                      <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                      <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                      <!-- element will get class pswp__preloader--active when preloader is running -->
                      <div class="pswp__preloader">
                          <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                              <div class="pswp__preloader__donut"></div>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                      <div class="pswp__share-tooltip"></div> 
                  </div>
                  <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                  </button>
                  <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                  </button>
                  <div class="pswp__caption">
                      <div class="pswp__caption__center"></div>
                  </div>
              </div>
          </div>
      </div>

      </div>

        {{- partial "footer.html" . -}}
        {{- partial "product-footer.html" . -}}

    </body>
</html>        