<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="product-gallery">
                        <ul class="product-image">
                            <li><img src="{{"img/pg-potrait_1.jpg" | absURL}}" alt class="img-fluid"></li>
                            <li><img src="{{"img/pg-potrait_2.jpg" | absURL}}" alt class="img-fluid"></li>
                            <li><img src="{{"img/pg-landscape_3.jpg" | absURL}}" alt class="img-fluid"></li>
                            <li><img src="{{"img/pg-potrait_4.jpg" | absURL}}" alt class="img-fluid"></li>
                            <li><img src="{{"img/pg-potrait_5.jpg" | absURL}}" alt class="img-fluid"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="product-description">
                        <h1 class="product-title">Wavye Console</h1>
                        <div class="product-brand">By Josmo</div>
                        <div class="price-wrap mt-3">
                            <p class="price">
                                <span class="Price-amount amount">
                                    <span class="Price-currencySymbol">₹</span>
                                    90,000.00
                                </span>
                            </p>
                        </div>
                        <div class="short-description">
                            <p>The Wayve console bridges the gap between the straight line by adding a modern, sculptural quality to this storage unit. Each segment has been delicately carved out of reclaimed solid wood to ensure minimum wastage. The pieces are then stacked together to create the unique facade. A functional piece that is inspired by the waves of the ocean, this console is a piece of art that will enhance any home.</p>
                        </div>
                        <form class="cart">

                            <div class="quantity">
                                <div class="quantity-box">
                                    <button class="qty-btn minus-btn">-</button>
                                    <input type="number" class="custom-qty qty">
                                    <button class="qty-btn plus-btn">+</button>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary add_to_cart_button">Add to cart</button>
                        </form>
                    </div>
                    
                    <div class="accordion mt-3" id="product-additionDetail">

                        <div class="accordion-card description">
                          <div class="accordion-heading" id="description">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Description</button>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="description" data-parent="#product-additionDetail">
                            <div class="card-body">
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-card description">
                          <div class="accordion-heading" id="description">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Properties</button>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="description" data-parent="#product-additionDetail">
                            <div class="card-body">
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-card description">
                          <div class="accordion-heading" id="description">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Shipping & Delivery</button>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="description" data-parent="#product-additionDetail">
                            <div class="card-body">
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                            </div>
                          </div>
                        </div>

                    </div>                    


                </div>
            </div>
        </div>

        {{- partial "footer.html" . -}}
    </body>
</html>        