.btn-primary {
    background: theme-color('primary');
    color: #333;
    opacity: 1;
    border-radius: 0;
    padding: .6rem .75rem;
    
    &:hover,
    &:focus {
        opacity: 0.9;
    }
}

.btn {
    border-radius: 0;
    box-shadow: none !important;
    &.btn-lg {
        padding: 0.75rem 3.125rem;
    }
}