body {
    font-family: $roboto;
    letter-spacing: 0.5px;
}
.container-spacing {
    @include media-min(lg) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @include media-min(xl) {
        padding-left: 6rem;
        padding-right: 6rem;
    }
} 

#content {
    min-height: 50vh;
}

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.2, 1.2, 1.2);
      transform: scale3d(1.2, 1.2, 1.2);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

.slick-track {
  .slick-slide {
    outline: 0;
  }
}