.banner {
    margin-bottom: 3.125rem;
    .banner-inner {
        position: relative;
        .banner-item {
            position: relative;
            a{
                outline: 0;
                text-decoration: none;
                .banner-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                }
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 0;
            left: auto;
            right:20px;
        }
    }
    @include media-max(sm) {
        margin-bottom: 1.56rem;
    }
}

.brands-section {
    margin-bottom: 3.125rem;
}

.section-title {
    text-align: center;
}

.mobile-title-margin {
    @include media-max(sm) {
        margin-bottom: 1.56rem;
    }
}