.banner {
    margin-bottom: 3.125rem;
    .banner-inner {
        position: relative;
        .banner-item {
            position: relative;
            a{
                outline: 0;
                text-decoration: none;
                .banner-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-decoration: none;
                }
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 0;
            left: auto;
            right:20px;
        }
    }
    .slick-slider {
        .slick-prev {
            @include media-min(lg) {
                left: 15px;
            }
        }
        .slick-next {
            @include media-min(lg) {
                right: 15px;
            }
        }
    }
    @include media-max(sm) {
        margin-bottom: 1.56rem;
    }
}

.brands-section {
    margin-bottom: 3.125rem;
    @include media-max(sm) {
        margin-bottom: 2rem;
    }
}

.section-title {
    text-align: center;
    &.mb-30 {
        @include media-min(sm) {
            margin-bottom: 30px;
        }
    }
}

.mobile-title-margin {
    @include media-max(sm) {
        margin-bottom: 1.56rem;
    }
}

.s-title {
    text-align: center;
    margin-bottom: 25px;
    img {
        @include media-max(sm) {
            max-width: 250px;
        }
    }
}

.no-padding {
    padding: 0;
}