.explore-furniture-section {
    text-align: center;
    margin-bottom: 2.5rem;
    .category-wrapper {
        margin-bottom: 10px;
        .category-image {
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                transition: transform .9s ease;
                &:hover {
                    transform: scale(1.1);
                }
            }
            a {
                outline: 0;
            }
        }
        .category-title {
            margin-bottom: 0;
            line-height: 1;
            a {
                text-transform: uppercase;
                color: theme-color('dark');
                text-decoration: none;
                outline: 0;
                font-weight: 700;
            }
        }
        .category-product-count {
            a {
                text-decoration: none;
                outline: 0;
                font-size: 0.875rem;
            }
        }
    }

    .category-slider {
        .owl-prev {
            @include media-min(lg) {
                left: -35px;
                position: relative;
            }
        }
        .owl-next {
            @include media-min(lg) {
                right: -35px;
                position: relative;
            }
        }
        .category-wrapper {
            .category-image {
                img{
                    @include media-max(sm) {
                        padding-left: 0;
                    }
                }
            }
        }
    }
    @include media-max(sm) {
        margin-bottom: 1rem;
    }
}