.explore-furniture-section {
    text-align: center;
    margin-bottom: 3.75rem;
    .category-wrapper {
        margin-bottom: 10px;
        .category-image {
            margin-bottom: 10px;
            position: relative;
            a {
                outline: 0;
            }
        }
        .category-title {
            margin-bottom: 0;
            line-height: 1;
            a {
                text-transform: uppercase;
                color: theme-color('dark');
                text-decoration: none;
                outline: 0;
                font-weight: 700;
            }
        }
        .category-product-count {
            a {
                text-decoration: none;
                outline: 0;
                font-size: 0.875rem;
            }
        }
    }

    .category-slider {
        .slick-list{
            @include media-max(sm) {
                padding-left: 0!important;
            }
        }
        .slick-prev {
            @include media-min(lg) {
                left: -26px;
            }
        }
        .slick-next {
            @include media-min(lg) {
                right: -28px;
            }
        }
        .category-wrapper {
            img{
                padding: 0 10px;
            }
        }
        @include media-min(md) {
            margin: 0 -13px;
        }
    }
    @include media-max(sm) {
        margin-bottom: 1rem;
    }
}