<footer class="footer" id="footer">
	<div class="container-fluid">

		<!-- footer services -->
		<div class="footer_services">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-12 my-4">
					<a href="#" target="_self" class="footer-link"><i class="fas fa-award"></i><span> 2 year warranty </span></a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 my-4">
					<a href="#" target="_self" class="footer-link"><i class="fas fa-store"></i><span>Take it out in the store</span></a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 my-4">
					<a href="#" target="_self" class="footer-link"><i class="fas fa-truck"></i><span>Scheduled delivery</span></a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 my-4">
					<a href="#" target="_self" class="footer-link"><i class="fas fa-tools"></i><span>Assembly Service</span></a>
				</div>
			</div>
		</div>

		<!-- Links -->
		<div class="row contact-block">
			<div class="col-lg-4 col-md-12 col-sm-12 info-block">
				<div class="request-block text-center">
					<h5 class="catalog-request"><a href="#" class="request-btn">request a catalog </a></h5>
				</div>
				<hr class="seperator">
				<div class="social-info mt-4">
					<h6 class="ft-section-title"> Keep In Touch</h6>
					<ul class="social-links">
						<li class="social-link fb"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="social-link pinterest"><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
						<li class="social-link insta"><a href="#"><i class="fab fa-instagram"></i> </a></li>
					</ul>
				</div>
			</div>

			<!-- customer care -->
			<div class="col-lg-4 col-md-12 col-sm-12 info-block">
				<div class="customer-care">
					<div class="cc-info-box">
						<h6 class="ft-section-title"> Customer Care </h6>
						<p class="ft-text">Mon-Sat - 9:00 AM TO 6:00 PM (IST)</p>
						<p class="ft-text"><a href="tel:+91 832 3915770">+91 832 3915770</p>
						<p class="ft-text"><a href="mailto:hello@andso.in"> hello@andso.in </a></p>
					</div>
					<div class="cc-info-box">
						<h6 class="ft-section-title"> Store Timings </h6>
						<p class="ft-text"> Mon-Sat - 9:00 AM TO 8:00 PM (IST)</p>
						<p class="ft-text"> H. No. 850, F.C. Goa House, Off N.H.66, Porvorim, Goa - 403521</p>
					</div>
				</div>
			</div>

			<!-- form -->
			<div class="col-lg-4 col-md-12 col-sm-12 form-block">
				<div class="footer_form">
					<h6 class="ft-section-title">Enter your email-id for exciting offers</h6>
					<form>
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Enter Email " aria-label="Recipient's username" aria-describedby="button-addon2">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" id="button-addon2">Subscribe</button>
							</div>
						</div>
					</form>
				</div>
				<hr class="seperator">
				<div class="nav-links">
					<h6 class="ft-section-title">Other Links</h6>
					<ul class="nav-link">
						<li><a href="#" target="_self">Privacy Policy</a></li>
					</ul>					
				</div>
			</div>
		</div>
		<hr class="footer-seperator seperator">
		<!-- nav links -->
		<div class="footer_nav_links">
			<span>
				<a href="#">Contact Us</a> |
				<a href="#">About Us</a> | 
				<a href="#">Careers</a> | 
				<a href="#">FAQ</a> | 
				<a href="#">Cancellation</a> | 
				<a href="#">Shipping</a> | 
				<a href="#">Return and Refund Policy</a> 
			</span>	
		</div>

		<!-- footer-info -->
		<div class="site-info">
			<p class="copyright mb-0"> &copy; Copyright 2019 Andso. All rights reserved. </p>
		</div>

	</div>
</footer>

<script type="text/javascript" src="{{"js/vendor/jquery.js" | relURL}}"></script>
<script type="text/javascript" src="{{"js/vendor/bootstrap.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"js/app.js" | relURL}}"></script>
