<footer class="footer" id="footer">
	<div class="container-fluid container-spacing">

		<!-- footer services -->
		<div class="footer_services">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-6 my-4">
					<a href="#" target="_self" class="footer-link"><span class="sticky-icon"><i class="fas fa-award"></i></span><span> 2 Year Warranty </span></a>
				</div>
				<div class="col-lg-3 col-md-6 col-6 my-4">
					<a href="#" target="_self" class="footer-link"><span class="sticky-icon"><i class="fas fa-truck sticky-icon"></i></span><span>Scheduled Delivery</span></a>
				</div>
				<div class="col-lg-3 col-md-6 col-6 my-4">
					<a href="#" target="_self" class="footer-link"><span class="sticky-icon"><i class="fas fa-tools sticky-icon"></i></span><span>Assembly Service</span></a>
				</div>
				<div class="col-lg-3 col-md-6 col-6 my-4">
					<a href="#" target="_self" class="footer-link"><span class="sticky-icon"><i class="fas fa-store sticky-icon"></i></span><span>After Sales Service</span></a>
				</div>
			</div>
		</div>

		<!-- Links -->
		<div class="row contact-block">
			<div class="col-lg-4 col-md-12 col-sm-12 info-block order-1 order-lg-0">
				<hr class="seperator d-block d-lg-none">
				<div class="request-block">
					<p class="text-white request-text">Choose from our wide range of beautifully crafted products and turn your home into a modern, stylish space!</p>
					<a href="#" class="btn request-btn">request a catalog </a>
				</div>
				<hr class="seperator d-none d-lg-block">
				<div class="social-info d-none d-lg-block">
					<h6 class="ft-section-title"> Keep In Touch</h6>
					<ul class="social-links">
						<li class="social-link"><a href="#" target="_blank" class="d-flex align-items-center"><i class="fab fa-facebook-f facebook-color socialIcon-size"></i><span class="social-title">Facebook</span></a></li>
						<li class="social-link"><a href="#" target="_blank" class="d-flex align-items-center"><i class="fab fa-pinterest-p pinterest-color socialIcon-size"></i><span class="social-title">Pinterest</span></a></li>
						<li class="social-link"><a href="#" target="_blank" class="d-flex align-items-center"><i class="fab fa-instagram instagram-color socialIcon-size"></i><span class="social-title">Instagram</span></a></li>
					</ul>
				</div>
			</div>

			<!-- customer care -->
			<div class="col-lg-4 col-md-12 col-sm-12 info-block order-2 order-lg-2">
				<div class="customer-care">
					<div class="cc-info-box mb-3">
						<h6 class="ft-section-title"> Customer Care </h6>
						<div class="cc-details">								
							<p class="ft-text"><i class="icon ion-md-time nav-icon infoIcon-size"></i> Mon-Sat - 9:00 AM TO 6:00 PM (IST)</p>
							<p class="ft-text mi-text"><a href="tel:+91 832 3915770"><i class="icon ion-md-call nav-icon infoIcon-size"></i> +91 832 3915770</a></p>
							<p class="ft-text mi-text mdl"><a href="mailto:hello@andso.in"><i class="icon ion-md-mail nav-icon infoIcon-size"></i> hello@andso.in </a></p>
						</div>
					</div>
					<div class="cc-info-box">
						<h6 class="ft-section-title"> Store Timings </h6>
						<div class="cc-details">
							<p class="ft-text"><i class="icon ion-md-time nav-icon infoIcon-size"></i> Mon-Sat - 9:00 AM TO 8:00 PM (IST)</p>
							<p class="ft-text"><i class="icon ion-md-pin nav-icon infoIcon-size"></i> H. No. 850, F.C. Goa House, Off N.H.66, Porvorim, Goa - 403521</p>
						</div>
					</div>
				</div>
			</div>

			<!-- form -->
			<div class="col-lg-4 col-md-12 col-sm-12 form-block d-flex align-items-center order-0 order-lg-3">
				<div class="footer-form w-100 mt-3 mb-4">
					<h6 class="ft-section-title">Join the AND SO Family</h6>
					<p class="ft-section-sub-title">Stay connected and we will update you on our latest brands and offers</p>
					<form>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter Email " aria-label="Recipient's username" aria-describedby="button-addon2">
						</div>
						<div class="input-group-btn mt-3">
							<button class="btn btn-outline-secondary" type="button" id="button-addon2">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-12 d-block d-lg-none order-3">
				<div class="social-info mt-4">
					<h6 class="ft-section-title"> Keep In Touch</h6>
					<ul class="social-links">
						<li class="social-link"><a href="#" target="_blank" class="d-flex align-items-center"><i class="fab fa-facebook-f facebook-color socialIcon-size"></i><span class="social-title">Facebook</span></a></li>
						<li class="social-link"><a href="#" target="_blank" class="d-flex align-items-center"><i class="fab fa-pinterest-p pinterest-color socialIcon-size"></i><span class="social-title">Pinterest</span></a></li>
						<li class="social-link"><a href="#" target="_blank" class="d-flex align-items-center"><i class="fab fa-instagram instagram-color socialIcon-size"></i><span class="social-title">Instagram</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<hr class="footer-seperator seperator">
		<!-- nav links -->
		<div class="footer_nav_links">
			<ul>
				<li><a href="#" target="_self">About Us</a></li>
				<li><a href="#" target="_self">Careers</a></li>
				<li><a href="#" target="_self">Contact Us</a></li>
				<li><a href="#" target="_self">Collaboration</a></li>
				<li><a href="#" target="_self">T & C</a></li>
				<li><a href="#" target="_self">FAQ</a></li>				
				<li><a href="#" target="_self">Shipping</a></li>				
				<li><a href="#" target="_self">Cancellation & Refund Policy</a></li>
				<li><a href="#" target="_self">Privacy Policy</a></li>
				<li><a href="#" target="_self">Sitemap</a></li>
			</ul>
		</div>

		<!-- footer-info -->
		<div class="site-info">
			<p class="copyright mb-0"> &copy; Copyright 2019 Andso. All rights reserved. </p>
		</div>

	</div>
	<img src="{{"img/andso-white.svg" | relURL}}" class="footer-sticky-bg" alt>
</footer>

<script type="text/javascript" src="{{"js/vendor/jquery.js" | relURL}}"></script>
<script type="text/javascript" src="{{"js/vendor/bootstrap.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"js/vendor/slick.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"js/vendor/ofi.js" | relURL}}"></script>
<script type="text/javascript" src="{{"js/vendor/owl.carousel.min.js" | relURL}}"></script>
<script type="text/javascript" src="{{"js/app.js" | relURL}}"></script>
