<header class="header" id="header">
    <div class="header-topbar d-none d-lg-block">
        <div class="container-fluid d-flex justify-content-between">
            <ul class="contact-info d-flex">
                <li class="phone-number"><a href="tel:+918323915770" target="_self"><i class="icon ion-md-call nav-icon"></i> +91 832 3915770</a></li>
                <li class="email"><a href="mailto:hello@andso.in" target="_self"><i class="icon ion-md-mail nav-icon"></i> hello@andso.in</a></li>
            </ul>
            <ul class="nav-links d-flex">
                <li><a href="#" target="_self" class="menu-link"><i class="icon ion-md-person nav-icon"></i> My Account</a></li>
                <li><a href="#" target="_self" class="menu-link header-cart"><i class="icon ion-md-cart nav-icon"></i> Cart<span class="cart-count">(0)</span></a></li>
            </ul>
        </div>
    </div>
    <div class="header-navbar">
        <div class="container-fluid">
            <nav class="navbar pl-0 pr-0">
                <div class="header-logo">
                    <a class="navbar-brand" href="/"><img src="{{"img/andso-logo.svg" | absURL}}" class="img-fluid" alt="logo" width="60" height="60"><span class="logo-text d-none">AND SO</span></a>
                </div>                
                <div id="header-menu" class="flex-fill">
                    <ul class="menu">
                        <li class="menu-item menu-item-has-children current-menu-item">
                            <a href="#" target="_self">SEATING</a>
                            <div class="mega-menu">
                                <div class="menu-container">
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="#">Shop By Category</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Sofas</a></li>
                                                <li><a href="#">Dining & Study Chairs</a></li>
                                                <li><a href="#">Loungers</a></li>
                                                <li><a href="#">Ottomons, Poufs & Benches</a></li>
                                                <li><a href="#">Stools</a></li>                                               
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Shop By Room</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Living Room</a></li>
                                                <li><a href="#">Study Room</a></li>            
                                                <li><a href="#">Bedroom</a></li>            
                                                <li><a href="#">Dining Room</a></li>            
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Brands</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Josmo</a></li>
                                                <li><a href="#">Studio Wood</a></li>
                                                <li><a href="#">A Wooden Story</a></li>
                                                <li><a href="#">Twisty</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="menu-item-image">
                                        <a href="#" class="menu-item-link">
                                            <img src="{{"img/menu-item-image.jpg" | absURL}}" class="img-fluid menu-image" alt="menu-banner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" target="_self">TABLES</a>
                            <div class="mega-menu">
                                <div class="menu-container">
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="#">Shop By Category</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Side Tables</a></li>
                                                <li><a href="#">Dining Tables</a></li>
                                                <li><a href="#">Cofee & Centre Tables</a></li>
                                                <li><a href="#">Study Tables</a></li>
                                                <li><a href="#">Stools</a></li>                                               
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Shop By Room</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Living Room</a></li>
                                                <li><a href="#">Dining Room</a></li>            
                                                <li><a href="#">Study Room</a></li>            
                                                <li><a href="#">Bedroom</a></li>            
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Brands</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Josmo</a></li>
                                                <li><a href="#">A Wooden Story</a></li>
                                                <li><a href="#">Jain Antiques</a></li>
                                                <li><a href="#">Lohasmith</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="menu-item-image">
                                        <a href="#" class="menu-item-link">
                                            <img src="{{"img/menu-item-image.jpg" | absURL}}" class="img-fluid menu-image" alt="menu-banner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" target="_self">FURNITURE</a>
                            <div class="mega-menu">
                                <div class="menu-container">
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="#">Shop By Category</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Beds</a></li>
                                                <li><a href="#">Storage</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="#">Bookcases</a></li>
                                                        <li><a href="#">Consoles</a></li>
                                                        <li><a href="#">Wall Shelves</a></li>
                                                    </ul>
                                                </li>                                            
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Shop By Room</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Bedroom</a></li>
                                                <li><a href="#">Living Room</a></li>            
                                                <li><a href="#">Study Room</a></li>            
                                                <li><a href="#">Dining Room</a></li>            
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Brands</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Josmo</a></li>
                                                <li><a href="#">Jain Antiques</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="menu-item-image">
                                        <a href="#" class="menu-item-link">
                                            <img src="{{"img/menu-item-image.jpg" | absURL}}" class="img-fluid menu-image" alt="menu-banner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" target="_self">ACCESSORIES</a>
                            <div class="mega-menu">
                                <div class="menu-container">
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="#">Shop By Category</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Bookends</a></li>                                            
                                                <li><a href="#">Photo Frames</a></li>                                            
                                                <li><a href="#">Candle Holders</a></li>                                            
                                                <li><a href="#">Incense Holders</a></li>                                            
                                                <li><a href="#">Magazine racks</a></li>                                            
                                                <li><a href="#">Vases</a></li>                                            
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Shop By Room</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Living Room</a></li>
                                                <li><a href="#">Study Room</a></li>            
                                                <li><a href="#">Bedroom</a></li>            
                                                <li><a href="#">Dining Room</a></li>            
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="menu-item-image">
                                        <a href="#" class="menu-item-link">
                                            <img src="{{"img/menu-item-image.jpg" | absURL}}" class="img-fluid menu-image" alt="menu-banner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" target="_self">SOFT FURNINSHINGS</a>
                            <div class="mega-menu">
                                <div class="menu-container">
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="#">Shop By Category</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Bed Linen</a></li>
                                                <li><a href="#">Carpets</a></li>                                            
                                                <li><a href="#">Curtains</a></li>                                            
                                                <li><a href="#">Dining Linen</a></li>                                            
                                                <li><a href="#">Cushions</a></li>                                            
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Shop By Room</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Living Room</a></li>
                                                <li><a href="#">Bedroom</a></li>            
                                                <li><a href="#">Study Room</a></li>            
                                                <li><a href="#">Dining Room</a></li>            
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Brands</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Handwoven-Ikat</a></li>
                                                <li><a href="#">Hush</a></li>            
                                                <li><a href="#">Kanchi</a></li>            
                                                <li><a href="#">Karo</a></li>            
                                                <li><a href="#">Josmo</a></li>            
                                                <li><a href="#">Limón</a></li>            
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="menu-item-image">
                                        <a href="#" class="menu-item-link">
                                            <img src="{{"img/menu-item-image.jpg" | absURL}}" class="img-fluid menu-image" alt="menu-banner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" target="_self">LIGHTING</a>
                            <div class="mega-menu">
                                <div class="menu-container">
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="#">Shop By Category</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Floor Lamps</a></li>
                                                <li><a href="#">Table Lamps</a></li>                                            
                                                <li><a href="#">Pendant Lights</a></li>                                            
                                                <li><a href="#">Wall Lights</a></li>                                                                                      
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Shop By Room</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Living Room</a></li>
                                                <li><a href="#">Dining Room</a></li>            
                                                <li><a href="#">Study Room</a></li>            
                                                <li><a href="#">Bedroom</a></li>            
                                            </ul>
                                        </li>
                                        <li class="menu-item">
                                            <a href="#">Shop By Price</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Below Rs. 10000</a></li>
                                                <li><a href="#">Rs. 10000 to Rs. 15000</a></li>            
                                                <li><a href="#">Above Rs. 15000</a></li>           
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="menu-item-image">
                                        <a href="#" class="menu-item-link">
                                            <img src="{{"img/menu-item-image.jpg" | absURL}}" class="img-fluid menu-image" alt="menu-banner">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="menu-item highlight-menu-item item-pink">
                            <a href="#" target="_self">CURATIONS</a>
                        </li>
                        <li class="menu-item highlight-menu-item item-lightblue">
                            <a href="#" target="_self">BRANDS</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" target="_self">ABOUT US</a>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler d-block d-lg-none" type="button">
                    <span class="navbar--icon"></span>
                </button>
            </nav>
        </div>
    </div>
</header>