
<li class="product product-loop">
        <div class="item-wrap">
            <div class="item-img products-thumb">
                <ul class="product-badges">
                    <li class="badge-new">New</li>
                </ul>
                <a href="{{$.Site.BaseURL}}product/bawa-by-josmo-studio/" class="product-link" target="_blank">
                    <img src="{{"img/related-products/rp-1.jpg" | absURL}}" class="img-fluid">
                </a>
                <div class="loop-product-actions d-flex justify-content-between">
                    <div class="loop-btns d-flex flex-fill mr-1">
                        <button type="button" class="btn quick-view-btn" data-toggle="modal" data-target="#loop-product-quickview"><i class="icon ion-md-eye nav-icon d-block d-lg-none"></i> <span class="d-none d-lg-inline-block">Quick View</span></button>
                    </div>
                    <div class="loop-btns d-flex flex-fill ml-1">
                        <button type="button" class="btn loop-add-to-cart"><i class="icon ion-md-cart nav-icon"></i> <span class="d-none d-lg-inline-block">Add to Cart</span></button>
                    </div>
                </div>
            </div>
            <div class="item-content">
                <div class="item-content-wrap">
                    <h5 class="loop-product-title"><a href="{{$.Site.BaseURL}}product/bawa-by-josmo-studio/" class="product-link" target="_blank">Bida Lounger</a></h5>
                    <div class="item-content-top">
                        <div class="loop-title-wrap flex-fill">
                            <h6 class="loop-product-brand">By Josmo</h6>
                        </div>
                        <div class="loop-fav-wrap">
                            <button class="btn loop-add-to-fav"><i class="icon ion-md-heart nav-icon"></i></button>
                        </div>
                    </div>
                    <div class="product-price">₹45,000</div>
                </div>
            </div>
        </div>
    </li>  
    
    <li class="product product-loop">
        <div class="item-wrap">
            <div class="item-img products-thumb">
                <a href="{{$.Site.BaseURL}}product/cooper-by-josmo-studio-2/" class="product-link" target="_blank">
                    <img src="{{"img/related-products/rp-4.jpg" | absURL}}" class="img-fluid">
                </a>
                <div class="loop-product-actions d-flex justify-content-between">
                    <div class="loop-btns d-flex flex-fill mr-1">
                        <button type="button" class="btn quick-view-btn" data-toggle="modal" data-target="#loop-product-quickview"><i class="icon ion-md-eye nav-icon d-block d-lg-none"></i> <span class="d-none d-lg-inline-block">Quick View</span></button>
                    </div>
                    <div class="loop-btns d-flex flex-fill ml-1">
                        <button type="button" class="btn loop-add-to-cart"><i class="icon ion-md-cart nav-icon"></i> <span class="d-none d-lg-inline-block">Add to Cart</span></button>
                    </div>
                </div>
            </div>
            <div class="item-content">
                <div class="item-content-wrap">
                    <h5 class="loop-product-title"><a href="{{$.Site.BaseURL}}product/cooper-by-josmo-studio-2/" class="product-link" target="_blank">Lima Lounger</a></h5>
                    <div class="item-content-top">
                        <div class="loop-title-wrap flex-fill">
                            <h6 class="loop-product-brand">By Josmo</h6>
                        </div>
                        <div class="loop-fav-wrap">
                            <button class="btn loop-add-to-fav"><i class="icon ion-md-heart nav-icon"></i></button>
                        </div>
                    </div>
                    <div class="product-price">₹45,000</div>
                </div>
            </div>
        </div>
    </li> 
             
    <li class="product product-loop">
        <div class="item-wrap">
            <div class="item-img products-thumb">
                <ul class="product-badges">
                    <li class="badge-new">New</li>
                    <li class="badge-sale">Sale!</li>
                </ul>
                <a href="{{$.Site.BaseURL}}product/hula-v-by-josmo-studio/" class="product-link" target="_blank">
                    <img src="{{"img/related-products/rp-3.jpg" | absURL}}" class="img-fluid">
                </a>
                <div class="loop-product-actions d-flex justify-content-between">
                    <div class="loop-btns d-flex flex-fill mr-1">
                        <button type="button" class="btn quick-view-btn" data-toggle="modal" data-target="#loop-product-quickview"><i class="icon ion-md-eye nav-icon d-block d-lg-none"></i> <span class="d-none d-lg-inline-block">Quick View</span></button>
                    </div>
                    <div class="loop-btns d-flex flex-fill ml-1">
                        <button type="button" class="btn loop-add-to-cart"><i class="icon ion-md-cart nav-icon d-block d-lg-none"></i> <span class="d-none d-lg-inline-block">Add to Cart</span></button>
                    </div>
                </div>
            </div>
            <div class="item-content">
                <div class="item-content-wrap">
                    <h5 class="loop-product-title"><a href="{{$.Site.BaseURL}}product/hula-v-by-josmo-studio/" class="product-link" target="_blank">Havana Lounger</a></h5>
                    <div class="item-content-top">
                        <div class="loop-title-wrap flex-fill">
                            <h6 class="loop-product-brand">By Josmo</h6>
                        </div>
                        <div class="loop-fav-wrap">
                            <button class="btn loop-add-to-fav"><i class="icon ion-md-heart nav-icon"></i></button>
                        </div>
                    </div>
                    <div class="product-price"><del>₹45,000</del><ins>₹43,000</ins></div>
                </div>
            </div>
        </div>
    </li>  
    <li class="product product-loop">
        <div class="item-wrap">
            <div class="item-img products-thumb">
                <ul class="product-badges">
                    <li class="badge-sale">Sale!</li>
                </ul>
                <a href="{{$.Site.BaseURL}}product/bawa-by-josmo-studio/" class="product-link" target="_blank">
                    <img src="{{"img/related-products/rp-2.jpg" | absURL}}" class="img-fluid">
                </a>
                <div class="loop-product-actions d-flex justify-content-between">
                    <div class="loop-btns d-flex flex-fill mr-1">
                        <button type="button" class="btn quick-view-btn" data-toggle="modal" data-target="#loop-product-quickview"><i class="icon ion-md-eye nav-icon d-block d-lg-none"></i> <span class="d-none d-lg-inline-block">Quick View</span></button>
                    </div>
                    <div class="loop-btns d-flex flex-fill ml-1">
                        <button type="button" class="btn loop-add-to-cart"><i class="icon ion-md-cart nav-icon d-block d-lg-none"></i> <span class="d-none d-lg-inline-block">Add to Cart</span></button>
                    </div>
                </div>
            </div>
            <div class="item-content">
                <div class="item-content-wrap">
                    <h5 class="loop-product-title"><a href="{{$.Site.BaseURL}}product/bawa-by-josmo-studio/" class="product-link" target="_blank">Cooper Lounger</a></h5>
                    <div class="item-content-top">
                        <div class="loop-title-wrap flex-fill">
                            <h6 class="loop-product-brand">By Josmo</h6>
                        </div>
                        <div class="loop-fav-wrap">
                            <button class="btn loop-add-to-fav"><i class="icon ion-md-heart nav-icon"></i></button>
                        </div>
                    </div>
                    <div class="product-price"><del>₹28,000</del><ins>₹26,999</ins></div>
                </div>
            </div>
        </div>
    </li>          
    <li class="product product-loop">
        <div class="item-wrap">
            <div class="item-img products-thumb">
                <a href="{{$.Site.BaseURL}}product/cooper-by-josmo-studio-2/" class="product-link" target="_blank">
                    <img src="{{"img/related-products/rp-5.jpg" | absURL}}" class="img-fluid">
                </a>
                <div class="loop-product-actions d-flex justify-content-between">
                    <div class="loop-btns d-flex flex-fill mr-1">
                        <button type="button" class="btn quick-view-btn" data-toggle="modal" data-target="#loop-product-quickview"><i class="icon ion-md-eye nav-icon d-block d-lg-none"></i> <span class="d-none d-lg-inline-block">Quick View</span></button>
                    </div>
                    <div class="loop-btns d-flex flex-fill ml-1">
                        <button type="button" class="btn loop-add-to-cart"><i class="icon ion-md-cart nav-icon d-block d-lg-none"></i> <span class="d-none d-lg-inline-block">Add to Cart</span></button>
                    </div>
                </div>
            </div>
            <div class="item-content">
                <div class="item-content-wrap">
                    <h5 class="loop-product-title"><a href="{{$.Site.BaseURL}}product/cooper-by-josmo-studio-2/" class="product-link" target="_blank">Tea Lounger</a></h5>
                    <div class="item-content-top">
                        <div class="loop-title-wrap flex-fill">
                            <h6 class="loop-product-brand">By Josmo</h6>
                        </div>
                        <div class="loop-fav-wrap">
                            <button class="btn loop-add-to-fav"><i class="icon ion-md-heart nav-icon"></i></button>
                        </div>
                    </div>
                    <div class="product-price">₹45,000</div>
                </div>
            </div>
        </div>
    </li>
    
    <li class="product product-loop">
        <div class="item-wrap">
            <div class="item-img products-thumb">
                <a href="{{$.Site.BaseURL}}product/cooper-by-josmo-studio-2/" class="product-link" target="_blank">
                    <img src="{{"img/related-products/rp-8.jpg" | absURL}}" class="img-fluid">
                </a>
                <div class="loop-product-actions d-flex justify-content-between">
                    <div class="loop-btns d-flex flex-fill mr-1">
                        <button type="button" class="btn quick-view-btn" data-toggle="modal" data-target="#loop-product-quickview"><i class="icon ion-md-eye nav-icon d-block d-lg-none"></i> <span class="d-none d-lg-inline-block">Quick View</span></button>
                    </div>
                    <div class="loop-btns d-flex flex-fill ml-1">
                        <button type="button" class="btn loop-add-to-cart"><i class="icon ion-md-cart nav-icon d-block d-lg-none"></i> <span class="d-none d-lg-inline-block">View details</span></button>
                    </div>
                </div>
            </div>
            <div class="item-content">
                <div class="item-content-wrap">
                    <h5 class="loop-product-title"><a href="{{$.Site.BaseURL}}product/cooper-by-josmo-studio-2/" class="product-link" target="_blank">Lasso chair</a></h5>
                    <div class="item-content-top">
                        <div class="loop-title-wrap flex-fill">
                            <h6 class="loop-product-brand">By Josmo</h6>
                        </div>
                        <div class="loop-fav-wrap">
                            <button class="btn loop-add-to-fav"><i class="icon ion-md-heart nav-icon"></i></button>
                        </div>
                    </div>
                    <div class="product-price">₹18,000</div>
                    <div class="hover-variations-wrap">
                        <div class="single-variation">
                            <a href="#" target="_blank">S</a>    
                        </div>
                        <div class="single-variation">
                            <a href="#" target="_blank">M</a>    
                        </div>
                        <div class="single-variation">
                            <a href="#" target="_blank">XL</a>    
                        </div>
                        <div class="single-variation">
                            <a href="#" target="_blank">XXL</a>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>