<div class="product-loop-section">
    <div class="container-fluid">
        <ul class="products">
            <li class="product product-loop">
                <div class="item-wrap">
                    <div class="item-img products-thumb">
                        <a href="#" class="product-link" target="_self">
                            <img src="{{"img/related-products/rp-1.jpg" | absURL}}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item-content">
                        <div class="item-content-wrap">
                            <div class="item-content-top d-flex">
                                <div class="loop-title-wrap flex-fill">
                                    <h5 class="loop-product-title"><a href="#" class="product-link" target="_self">Bida Lounger</a></h5>
                                </div>
                                <div class="loop-fav-wrap">
                                    <button class="btn loop-add-to-fav"><i class="icon ion-md-heart nav-icon"></i></button>
                                </div>
                            </div>
                            <div class="product-price">₹45,000</div>
                        </div>
                        <div class="loop-product-actions">
                            <div class="loop-add-to-cart-wrap">
                                <a href="#" target="_self" class="btn loop-add-to-cart">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>           
            <li class="product product-loop">
                <div class="item-wrap">
                    <div class="item-img products-thumb">
                        <a href="#" class="product-link" target="_self">
                            <img src="{{"img/related-products/rp-2.jpg" | absURL}}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item-content">
                        <div class="item-content-wrap">
                            <div class="item-content-top d-flex">
                                <div class="loop-title-wrap flex-fill">
                                    <h5 class="loop-product-title"><a href="#" class="product-link" target="_self">Cooper Lounger</a></h5>
                                </div>
                                <div class="loop-fav-wrap">
                                    <button class="btn loop-add-to-fav"><i class="icon ion-md-heart nav-icon"></i></button>
                                </div>
                            </div>
                            <div class="product-price">₹28,000</div>
                        </div>
                        <div class="loop-product-actions">
                            <div class="loop-add-to-cart-wrap">
                                <a href="#" target="_self" class="btn loop-add-to-cart">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>           
            <li class="product product-loop">
                <div class="item-wrap">
                    <div class="item-img products-thumb">
                        <a href="#" class="product-link" target="_self">
                            <img src="{{"img/related-products/rp-3.jpg" | absURL}}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item-content">
                        <div class="item-content-wrap">
                            <div class="item-content-top d-flex">
                                <div class="loop-title-wrap flex-fill">
                                    <h5 class="loop-product-title"><a href="#" class="product-link" target="_self">Havana Lounger</a></h5>
                                </div>
                                <div class="loop-fav-wrap">
                                    <button class="btn loop-add-to-fav"><i class="icon ion-md-heart nav-icon"></i></button>
                                </div>
                            </div>
                            <div class="product-price">₹45,000</div>
                        </div>
                        <div class="loop-product-actions">
                            <div class="loop-add-to-cart-wrap">
                                <a href="#" target="_self" class="btn loop-add-to-cart">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>           
            <li class="product product-loop">
                <div class="item-wrap">
                    <div class="item-img products-thumb">
                        <a href="#" class="product-link" target="_self">
                            <img src="{{"img/related-products/rp-4.jpg" | absURL}}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item-content">
                        <div class="item-content-wrap">
                            <div class="item-content-top d-flex">
                                <div class="loop-title-wrap flex-fill">
                                    <h5 class="loop-product-title"><a href="#" class="product-link" target="_self">Lima Lounger</a></h5>
                                </div>
                                <div class="loop-fav-wrap">
                                    <button class="btn loop-add-to-fav"><i class="icon ion-md-heart nav-icon"></i></button>
                                </div>
                            </div>
                            <div class="product-price">₹45,000</div>
                        </div>
                        <div class="loop-product-actions">
                            <div class="loop-add-to-cart-wrap">
                                <a href="#" target="_self" class="btn loop-add-to-cart">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>           
            <li class="product product-loop">
                <div class="item-wrap">
                    <div class="item-img products-thumb">
                        <a href="#" class="product-link" target="_self">
                            <img src="{{"img/related-products/rp-5.jpg" | absURL}}" class="img-fluid">
                        </a>
                    </div>
                    <div class="item-content">
                        <div class="item-content-wrap">
                            <div class="item-content-top d-flex">
                                <div class="loop-title-wrap flex-fill">
                                    <h5 class="loop-product-title"><a href="#" class="product-link" target="_self">Tea Lounger</a></h5>
                                </div>
                                <div class="loop-fav-wrap">
                                    <button class="btn loop-add-to-fav"><i class="icon ion-md-heart nav-icon"></i></button>
                                </div>
                            </div>
                            <div class="product-price">₹45,000</div>
                        </div>
                        <div class="loop-product-actions">
                            <div class="loop-add-to-cart-wrap">
                                <a href="#" target="_self" class="btn loop-add-to-cart">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>           
        </ul>
    </div>
</div>